textarea {
    min-height: 148px !important;
    max-height: 148px !important;
}

.datepicker.datepicker-dropdown thead .datepicker-switch {
    font-weight: bolder;
}

.datepicker.datepicker-dropdown thead .dow {
    font-weight: bold;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover {
    background-color: var(--primary);
}

.datepicker table tr td.active.active:hover {
    opacity: 0.75;
}

.datepicker.datepicker-dropdown tfoot th {
    text-transform: capitalize !important;
}

.datepicker.datepicker-dropdown tfoot tr:first-child th {
    color: var(--primary) !important;
    font-weight: bold !important;
}

.datepicker.datepicker-dropdown tfoot tr:last-child th {
    color: var(--gray);
}

.datepicker table tr td span.new.disabled, 
.datepicker table tr td span.old.disabled {
    color: #dee2e6;
}

.select2 span.select2-selection {
    height: 46px;
    align-items: center;
    display: flex;
}

/* Select2 for Channel Payment */
.select2-container.select2-container--default.select2-container--open .select2-results [aria-label="Transfer Bank"] img[alt^="Bank"],
.select2-container.select2-container--default.select2-container--open .select2-results [aria-label="Giro"] img[alt^="Bank"] {
    margin-bottom: .25rem;
}

/* Select2 for Bantuan */ 
.select2-container.select2-container--default.select2-container--open .select2-results .select2-results__option--highlighted span.badge.badge-danger {
    background-color: var(--danger) !important;
}

.card-body.form .row .col {
    flex-basis: 100%;
}

.badge {
    font-size: 0.6rem;
}

.badge.text-capitalize {
    letter-spacing: 1px;
}

@media (min-width: 556px) {
    .card-body.form>.row:not(:last-child)>.col {
        flex-basis: 50%;
    }

    .card-body.form>.row:last-child>.col:first-child {
        flex-direction: row !important;
        column-gap: 2em;
    }

    .card-body.form>.row:last-child>.col.d-flex:first-child>.form-group {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .card-body.form>.row:last-child>.col:first-child {
        flex-direction: column !important;
    }

    .card-body.form>.row:last-child>.col {
        flex-basis: 50%;
    }

    .card-body.form>.row:last-child>.col.d-flex:first-child>.form-group {
        width: 100%;
    }

    .custom-control.custom-checkbox:not(.checked) {
        padding-top: 2.6em;
    }
}

@media (min-width: 1200px) {
    /* Select2 for Channel Payment */
    /* .select2-container.select2-container--default.select2-container--open .select2-results [aria-label="Transfer Bank"] img[alt^="Bank"],
    .select2-container.select2-container--default.select2-container--open .select2-results [aria-label="Giro"] img[alt^="Bank"] {
        margin-bottom: 0px;
    } */
}