table .avatar {
    --avatar: 35px;
    width: var(--avatar);
    height: var(--avatar);
}

#cp-card {
    margin-bottom: 30px !important;
}

/* Nav Tab */
#nav-tab {
    z-index: 1;
    border-radius: inherit;
    border-bottom: 0px;
    display: flex;
}

#nav-tab button {
    padding: 0.75em 1.5em;
    border: 0px;
}

.nav-tabs .nav-link.active {
    background-color: #fff !important;
}

.nav-tabs .nav-link:not(.active) {
    border-style: solid !important;
    border-color: var(--lighter) !important;
}

.nav-tabs .nav-item:first-child .nav-link.active > span {
    color: var(--green);
}

.nav-tabs .nav-item:not(:first-child) .nav-link.active > span {
    color: var(--orange);
}

.nav-tabs .nav-link:not(.active) {
    background-color: var(--secondary);
}

.nav-tabs .nav-item:first-child .nav-link:not(.active) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: .375rem;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
}

.nav-tabs .nav-item:not(:first-child) .nav-link:not(.active) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
}

#list-order-donasi table.table tfoot th {
    border-bottom: 0px !important;
}

.card table .media img[alt="bank-bjb"],
.card table .media img[alt="bank-bsi"],
.card table .media img[alt="bank-bri"],
.card table .media img[alt="bank-mandiri"]
.card table .media img[alt="qris"],
.card table .media img[alt="BJB"],
.card table .media img[alt="BSI"],
.card table .media img[alt="BRI"] {
    margin-top: -0.3rem;
}

.card#list-donasi>.card-header,
.card#list-donasi>.card-footer {
    border: 0px;
}

.col-12.col-md-6.card[data-cp] {
    min-height: 171px;
}

.card.overflow-hidden[data-cp="bank-bjb"]>img {
    position: absolute;
    width: 45%;
}

.card.overflow-hidden[data-cp="bank-bsi"]::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    content: '';
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100%;
    opacity: 0.8;
}

.card.overflow-hidden[data-cp="bank-bri"]>.strip-bottom,
.card.overflow-hidden[data-cp="bank-bri"]>.strip-top {
    position: absolute;
    top: 0;
    right: 0;
    height: 101%;
    background-image: linear-gradient(to bottom, var(--blue), var(--blue));
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
}

.card.overflow-hidden[data-cp="bank-bri"]>.strip-bottom {
  width: 200px;
  transform: skewX(-15deg) translateX(75px);
}

.card.overflow-hidden[data-cp="bank-bri"]>.strip-top {
  width: 180px;
  transform: skewX(20deg) translateX(50px);
}

.card.overflow-hidden[data-cp="bank-mandiri"]::before {
    background-image: url(/assets/svg/indonesia.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.card img[alt="GPN"] {
    max-width: 40px;
}

.card img[alt="Pojok Berbagi"] {
    max-width: 60px;
}

.form-label-group input:not(:placeholder-shown)~label {
    left: 1.5em !important;
}

.form-label-group label {
    left: 1.25em !important;
}

.form-label-group input {
    padding-left: 1.25em !important;
    padding-right: 1.25em !important;
}

/* Media Query */
@media (min-width: 425px) and (max-width: 768px) {
    #cp-card .col-3 {
        width: auto;
        flex-basis: auto;
    }

    #cp-card .logo-cp>img {
        max-width: 68px;
    }
}

@media (min-width: 768px) {
    /* Percobaan */
    #main-content .row .col-xl-8~.col-xl-4>.row {
        column-gap: 2em;
    }

    #main-content .row .col-xl-8~.col-xl-4 .col-md-6.card {
        flex: 1 1;
        flex-basis: calc(50% - 1em);
        width: calc(50% - 1em);
        max-width: calc(50% - 1em);
    }
    /* Akhir Percobaan */

    .col-12.col-md-6.card[data-cp] {
        max-width: calc(50% - 1em);
    }

    #nav-tab {
        position: absolute;
    }
}

/* Media Query */
@media (min-width: 992px) {
    /* Percobaan */

    #main-content .row .col-xl-8~.col-xl-4 .col-md-6.card {
        flex: 1 1;
        flex-basis: calc(33.3% - 1em);
    }
    /* Akhir Percobaan */

    .col-12.col-md-6.card[data-cp] {
        max-width: calc(33.33333% - (2em / 1) + (2em / 3));
        flex-basis: 33.33%;
    }
}

@media (min-width: 1200px) {
    #main-content .row .col-xl-8~.col-xl-4 .col-md-6.card {
        max-width: 100%;
        width: 100%;
        flex: 1 1 100%;
    }

    .card img[alt="Pojok Berbagi"] {
        max-width: 100%;
    }

    .col-12.col-md-6.card[data-cp] {
        min-height: 141px;
    }

    .col.saldo {
        font-size: .8em;
    }
}

@media (min-width: 1200px) and (max-width: 1277px) {
    /* .card table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    } */
}

@media (min-width: 1278px) {
    .col-12.col-md-6.card[data-cp] {
        max-width: calc(25% - (2em / 1) + (2em / 4));
        flex-basis: 25%;
    }
} 

@media (min-width: 1548px) {
    .col-12.col-md-6.card[data-cp] {
        min-height: 168.5px;
    }

    .card img[alt="Pojok Berbagi"] {
        max-width: 60px;
    }
}

@media (min-width: 1617px) {

    .col-12.col-md-6.card[data-cp] {
        min-height: 138.5px;
    }

  /* Percobaan */

    #main-content .row .col-xl-8~.col-xl-4 .col-md-6.card {
        max-width: calc(50% - 1em);
        flex: 1 1 calc(50% - 1em);
        width: calc(50% - 1em);
    }
  /* Akhir Percobaan */

    .card img[alt="bank-bjb"].saldo,
    .card img[alt="bank-bsi"].saldo,
    .card img[alt="bank-bri"].saldo,
    .card img[alt="qris"].saldo,
    .card img[alt="BJB"].saldo,
    .card img[alt="BSI"].saldo,
    .card img[alt="BRI"].saldo {
        margin-bottom: .5rem;
    }

    .card img[alt="Pojok Berbagi"],
    .card img[alt="GPN"] {
        max-width: 100%;
    }

    .card .row.align-items-end {
        align-items: center !important;
    }

    .card.overflow-hidden[data-cp="bank-bri"]>.strip-bottom,
    .card.overflow-hidden[data-cp="bank-bri"]>.strip-top {
        right: 3em;
        height: 100%;
        width: 70px;
    }
}