section.form {
    padding-top: 92px;
    padding-bottom: 46px;
}

span.selection {
    width: 100%;
}

.select2-container--default .select2-selection--single {
    border-color: #ced4da !important;
    border-radius: 0.25rem;
    height: 100%;
    outline-width: 0px;
}

.select2-container--default .select2-selection--single:focus-visible {
    border: 1px solid #86b7fe !important;
}

.select2-dropdown,
.select2-container--default .select2-selection--single[aria-expanded="true"] {
    border-color: #86b7fe !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #86b7fe;
    transition-duration: 0s !important;
}

.select2-container--default span {
    transition-duration: 0s !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #ced4da;
    display: none;
}

.select2-selection__rendered {
    padding-top: 1.625rem;
    padding-bottom: 0.125rem;
    padding-left: 0.75rem !important;
    padding-right: .75rem !important;
}

.select2-selection__rendered span.badge {
    position: absolute;
    bottom: 1.15em;
}

.select2-dropdown.select2-dropdown--below {
    top: -5px !important;
    height: calc(auto - 2px);
    border-color: #86b7fe;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #ced4da;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-results {
    left: -1px;
    bottom: -1px;
    position: relative;
    width: calc(100% + 2px);
    border-top: 1px dashed #86b7fe;
}

/* .select2-results__options[role="group"]>li:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
} */

.select2-results__option[role="group"] ul>li {
    max-height: 47px;
    min-height: 47px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.select2-selection img,
.select2-results__option li img {
    max-width: 40px;
}

.select2-selection img[src*="linkaja"],
.select2-selection img[src*="doku"] {
    max-width: 25px;
}

.select2-results__option li img[src*="linkaja"],
.select2-results__option li img[src*="doku"] {
    max-width: 35px;
}

.select2-results__options li img[src*="bsi"] {
    margin-right: -.25em;
}

.select2-selection img[src*="danamon"],
.select2-selection img[src*="cimb"],
.select2-results__options li img[src*="danamon"],
.select2-results__options li img[src*="cimb"] {
    max-width: 60px;
}

.select2-selection img[src*="bjb"],
.select2-selection img[src*="bsi"],
.select2-selection img[src*="bri"],
.select2-results__options li img[src*="bjb"],
.select2-results__options li img[src*="bsi"],
.select2-results__options li img[src*="bri"] {
    margin-top: -.33rem;
}

.select2-results__options li img[src*="shopeepay"] {
    max-width: 50px;
    margin-right: -.75em;
}

.select2-selection img[src*="mandiri"],
.select2-selection img[src*="dana"],
.select2-selection img[src*="gopay"],
.select2-selection img[src*="permata"],
.select2-selection img[src*="qris"],
.select2-results__options li img[src*="qris"],
.select2-results__options li img[src*="dana"],
.select2-results__options li img[src*="gopay"],
.select2-results__options li img[src*="mandiri"] {
    margin-top: -.15em;
}

.select2-selection img[src*="mandiri"],
.select2-selection img[src*="dana"],
.select2-selection img[src*="gopay"],
.select2-selection img[src*="permata"],
.select2-results__options li img[src*="dana"],
.select2-results__options li img[src*="gopay"],
.select2-results__options li img[src*="mandiri"],
.select2-results__options li img[src*="permata"] {
    max-width: 45px;
}

.select2-results__options::-webkit-scrollbar-track {
    background-color: #86b7fe !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: .5em;
}

#charLeft {
    font-size: 0.8rem !important;
}

.form-floating.text-danger input,
.form-floating.text-danger .select2-container--default .select2-selection--single[aria-expanded="false"] {
    color: var(--bs-danger) !important;
    border-color: var(--bs-danger) !important;
}

.form-floating.text-warning input,
.form-floating.text-warning .select2-container--default .select2-selection--single[aria-expanded="false"] {
    color: var(--bs-warning) !important;
    border-color: var(--bs-warning) !important;
}

.form-floating.text-success input,
.form-floating.text-success .select2-container--default .select2-selection--single[aria-expanded="false"] {
    color: var(--bs-success) !important;
    border-color: var(--bs-success) !important;
}

.form-floating.text-orange input,
.form-floating.text-orange .select2-container--default .select2-selection--single[aria-expanded="false"] {
    color: var(--orange) !important;
    border-color: var(--orange) !important;
}

.form-floating.text-green input,
.form-floating.text-green .select2-container--default .select2-selection--single[aria-expanded="false"] {
    color: var(--green) !important;
    border-color: var(--green) !important;
}

.form-control:hover {
    border-color: #86b7fe;
}

.inputGroup label {
    font-size: 1rem;
    z-index: -1;
    padding: .375rem .75rem;
}

.inputGroup label::before {
    content: attr(data-terbilang);
    font-weight: 300;
    font-size: 0.7rem;
    display: block;
}

.inputGroup input[type="radio"],
.inputGroup input[type="radio"]+label:after {
    top: 0.25rem;
    right: 0.25rem;
}

#list-pilihan .col-6 {
    width: calc(50% - 0.5rem);
}

#list-pilihan .col-6:nth-last-child(1):nth-child(odd) {
    width: 100%;
}

@media (max-width: 500px) {
    label[for="flexSwitchCheckChecked"] {
        font-size: .7em;
        align-self: end;
    }
}

@media (min-width: 768px) {
    #list-pilihan .col-md {
        width: calc(25% - 0.75rem);
        flex-basis: auto;
    }
}