#nomor-kwitansi:before {
    content: "#";
}

img#gambar-cp {
    width: 60px;
}

.box h6 {
    font-size: small;
}

.box p {
    line-height: 1.25;
}

.box h6+p {
    font-size: x-small;
    line-height: .857;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0 inherit 0 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid transparent;
    background-clip: content-box;
    background-color: #6c757d70;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6c757dab;
}

/* Footer */
.kontak .d-grid {
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 50px;
    gap: 1.25em;
}

.kontak .d-grid {
    place-content: center;
}

@media (min-width: 768px) {
    .box h6 {
        font-size: 16px;
    }

    .box h6+p {
        font-size: small;
    }
}

@media (min-width: 992px) {
    .box h6+p {
        font-size: small;
    }

    .kontak .d-grid {
        place-content: start;
    }
}