<div id="detil-banner-area" class="overflow-hidden">
    <div class="container">
        <div class="row" id="visual-banner-area">
            <div class="col">
                <div class="app-image img-wrapper d-flex align-items-center justify-content-center overflow-hidden rounded-box wow fadeInUp shadow-none"
                    data-wow-delay=".2s">
                    <img src="<?= $data['detil_bantuan']->path_gambar_medium; ?>"
                        alt="Gambar <?= $data['detil_bantuan']->nama_gambar_medium; ?>"
                        class="img-fluid d-flex d-lg-none">
                    <img src="<?= $data['detil_bantuan']->path_gambar_wide; ?>"
                        alt="Gambar <?= $data['detil_bantuan']->nama_gambar_wide; ?>"
                        class="img-fluid d-none d-lg-flex">
                </div>
            </div>
        </div>
        <div class="row mx-0 flex-wrap custom-gap custom-height-setter mt-3 mt-lg-4 pb-2 toggle"
            data-start-delay-wow="0.4" id="info-box-area">
            <div data-wow-delay=".4s"
                class="align-items-center wow fadeInUp col box bg-light p-3 d-flex rounded-box order-1 shadow-none">
                <div class="box-icon bg-primary">
                    <i class="lni lni-wallet"></i>
                </div>
                <div class="box-info d-flex flex-column">
                    <h6 class="mb-0" data-count-up-value="<?= $data['detil_bantuan']->total_donasi ?>">0</h6>
                    <p><small class="text-muted">Terkumpul</small></p>
                </div>
            </div>
            <div data-wow-delay=".6s"
                class="align-items-center wow fadeInUp col box bg-light p-3 d-flex rounded-box order-1 shadow-none">
                <div class="box-icon bg-info">
                    <i class="lni lni-handshake"></i>
                </div>
                <div class="box-info d-flex flex-column">
                    <h6 class="mb-0" data-count-up-value="<?= $data['detil_bantuan']->jumlah_donatur ?>">0</h6>
                    <p><small class="text-muted">Donatur</small></p>
                </div>
            </div>
            <div data-wow-delay=".8s"
                class="align-items-center wow fadeInUp col-12 col-md box bg-light p-3 d-flex rounded-box order-1 shadow-none">
                <div class="box-icon bg-orange">
                    <i class="lni lni-target-customer"></i>
                </div>
                <div class="box-info d-flex flex-column">
                    <h6 class="mb-0" <?=((strtolower($data['detil_bantuan']->jumlah_target) != 'unlimited') ?
                        'data-count-up-value="' . $data['detil_bantuan']->jumlah_target . '">' : '>' .
                        $data['detil_bantuan']->jumlah_target); ?></h6>
                    <p><small class="text-muted">Target</small></p>
                </div>
            </div>
            <div data-wow-delay="1s"
                class="align-items-center wow fadeInUp col-6 col-md-12 col-lg box bg-light p-3 d-grid rounded-box progress-box order-0 order-md-1 shadow-none">
                <div class="box-icon bg-green">
                    <i class="lni lni-grow"></i>
                </div>
                <div class="box-info d-flex flex-column">
                    <h6 class="mb-0"<?= (!is_null($data['detil_bantuan']->donasi_disalurkan) ? ' data-count-up-value="'. $data['detil_bantuan']->donasi_disalurkan .'"':''); ?>>0</h6>
                    <p><small class="text-muted">
                            <?= (isset($data['detil_bantuan']->jenis_penyaluran) ? $data['detil_bantuan']->jenis_penyaluran : 'Donasi') ?>
                            Tersalurkan
                        </small></p>
                    <div class="progress mt-1">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                            style="width: 0%" aria-valuenow="<?= $data['detil_bantuan']->persentase_pelaksanaan; ?>">
                        </div>
                    </div>
                </div>
            </div>
            <div data-wow-delay="1s"
                class="align-items-center wow fadeInUp col-6 col-md col-lg box bg-light p-3 d-grid rounded-box timeup order-0 order-md-0 order-lg-1 shadow-none">
                <div class="box-icon bg-warning">
                    <i class="lni lni-timer"></i>
                </div>
                <div class="box-info d-flex flex-column">
                    <h6 class="mb-0" <?=((is_numeric($data['detil_bantuan']->sisa_waktu)) ?
                        'data-count-up-value="' . $data['detil_bantuan']->sisa_waktu .'" data-count-up-date="true">' :
                        '>' . $data['detil_bantuan']->sisa_waktu); ?></h6>
                    <p><small class="text-muted">Sisa Waktu</small></p>
                    <a role="button"
                        class="d-flex justify-content-between text-primary align-items-center d-md-none collapseButton mt-1 toggle">
                        <span>Sembunyikan detil</span>
                        <i class="lni lni-chevron-down"
                            style="transform: rotate(90deg); transition: transform 0.3s ease 0s;"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-0 gap-3 gap-md-4 bg-white position-relative pt-2 pt-lg-3" id="commit-bantuan-area"
            data-start-delay-wow="1.2">
            <div class="col col-md-4 col-lg justify-content-center d-flex flex-column wow fadeInUp bg-light rounded-box align-items-center py-4"
                data-wow-delay="1.2s">
                <div class="logo d-flex align-items-center justify-content-center border-1 rounded-box bg-white overflow-hidden border border-light shadow-none text-center">
                    <img class="img-fluid" src="<?= $data['detil_bantuan']->path_gambar_logo_pengaju_bantuan; ?>"
                        alt="Logo <?= $data['detil_bantuan']->pengaju_bantuan; ?>">
                </div>
                <h6 class="mt-3 text-black fw-bold text-center">
                    <?= $data['detil_bantuan']->pengaju_bantuan; ?>
                </h6>
            </div>
            <div class="col order-first order-md-last wow fadeInUp" data-wow-delay="1.4s">
                <div class="row gap-4">
                    <?php if (strtoupper($data['detil_bantuan']->status) == 'D') { ?>
                    <div class="col-12 d-flex gap-3">
                        <a href="<?= '/donasi/buat/baru/'. $data['detil_bantuan']->id_bantuan; ?>"
                            class="btn button donasi btn-lg w-100 shadow-none d-grid align-items-center justify-items-center">Donasi Sekarang</a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalShareBtn" class="btn d-flex fw-bold flex-column-reverse fs-6 button btn-outline-orange-reverse justify-content-center">
                            <span>Bagikan</span>
                            <i class="bi bi-share-fill fs-6"></i>
                        </a>
                    </div>
                    <?php } ?>
                    <div class="col-12">
                        <h5 class="mb-3">
                            <?= $data['detil_bantuan']->nama; ?>
                        </h5>
                        <p class="lh-lg">
                            <?= $data['detil_bantuan']->deskripsi; ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row g-0 gap-3 gap-md-4 bg-white position-relative pt-2 pt-lg-3 ql-container ql-disabled mt-2 wow fadeInUp" id="deskripsi-selengkapnya-area" data-wow-delay="1.4s">
            <div class="col-12 bg-green rounded-box p-3 d-flex align-items-center <?= (isset($data['deskripsi']->len) ? 'justify-content-between':'justify-content-center'); ?> gap-3" id="title">
                <div class="desc align-self-end">
                    <?php 
                        if (isset($data['deskripsi']->len)) {
                            echo '<p class="date">'. $data['deskripsi']->create_at .'</p><h4>'. $data['deskripsi']->judul .'</h4>';
                        } else { 
                    ?>
                        <center>
                            <div class="empty mx-auto"></div>
                            <h4>Belum ada deskripsi selengkapnya</h4>
                            <p class="desc small p-empty mt-2">Mohon maaf, untuk sementara deskripsi progam belum ditambahkan</p>
                        </center>
                    <?php
                        }
                    ?>
                </div>
                <span class="node"></span>
            </div>
            <?php if (isset($data['deskripsi']->len)) { ?>
            <div class="col-12 p-md-3 rounded-box">
                <div class="row justify-content-center">
                    <div class="col-lg-8 px-md-0 hidden-area-utility" id="selengkapnya">
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>

        <div class="row g-0 gap-3 gap-md-4 pt-2 pt-lg-3 mt-2 wow fadeInUp" data-wow-delay="1.6s" id="update-terkini-area">
            <div class="col-12 bg-green rounded-box p-3 d-flex align-items-center <?= (isset($data['top_update_terbaru']) ? 'justify-content-between':'justify-content-center');?>" id="title">
                <div class="desc align-items-center <?= (isset($data['top_update_terbaru']) ? 'justify-content-between' : 'justify-content-center'); ?> justify-content-center d-flex w-100">
                    <?php if (isset($data['top_update_terbaru'])) {
                        echo '<h4>Update Terkini</h4><a data-bs-target="#modalListUpdate" data-bs-toggle="modal" href="javascript:void(0);" class="text-decoration-underline">Seluruh Informasi <i class="lni lni-chevron-right"></i></a>';
                    } else { ?>
                        <center>
                            <div class="mx-auto empty"></div><h4>Belum Ada Update Terkini</h4>
                            <p class="desc small p-empty mt-2">Mohon maaf, untuk sementara belum ada update terbaru</p>
                        </center>
                    <?php } ?>
                </div>
                <span class="node"></span>
            </div>
            <?php if (isset($data['top_update_terbaru'])) { ?>
                <div class="col-12 bg-light rounded-box p-3">
                    <div class="row m-0 timeline gap-3">
                        <?php $iInformasi = 1; foreach($data['top_update_terbaru']['data'] as $key => $informasi) { ?>
                        <div class="col-12 timeline-item px-0<?= (count($data['top_update_terbaru']['data']) == $iInformasi && $data['top_update_terbaru']['record'] != $iInformasi ? ' next':''); ?>" data-id-informasi="<?= strrev(base64_encode($informasi->id_informasi)); ?>">
                            <div class="row m-0 w-100">
                                <div class="col-12 col-lg-2">
                                    <div class="time small fw-bold">
                                        <a data-date-value="<?= $informasi->tanggal_publikasi; ?>" href="javascript:void();" class="text-secondary" data-bs-toggle="modal" data-bs-target="#modalListUpdate" data-filter="date">
                                            <p>
                                                <span>
                                                    <?= $informasi->waktu_publikasi; ?>
                                                </span>
                                            </p>
                                        </a>
                                    </div>
                                    <a data-label-value="<?= $informasi->label; ?>" href="javascript:void();" data-bs-toggle="modal" data-bs-target="#modalListUpdate" data-filter="label" class="text-capitalize badge<?= (is_array(Utility::labelInformasi($informasi->label)) ? ' '. Utility::labelInformasi($informasi->label)['class'] : ''); ?>">
                                        <span><?= (isset(Utility::labelInformasi($informasi->label)['text']) ? Utility::labelInformasi($informasi->label)['text'] : ''); ?></span>
                                    </a>
                                </div>
                                <div class="col-12 col-lg content flex-column d-flex">
                                    <span><b><?= $informasi->judul; ?></b></span>
                                    <div class="editor-read">
                                        <?= $informasi->isi; ?>
                                    </div>
                                    <div>
                                        <a href="javascript:void();" data-bs-toggle="modal" data-bs-target="#modalDetilUpdate" class="text-decoration-underline">Lebih detil <i class="lni lni-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php $iInformasi++; } ?>
                    </div>
                </div>
            <?php } ?>
        </div>
        
        <div id="donatur-area" class="row g-0 gap-3 gap-md-4 bg-white position-relative pt-2 pt-lg-3 mt-2 wow fadeInUp" data-wow-delay="1.8s">
            <div class="col-12 bg-green rounded-box p-3 d-flex align-items-center <?= (!isset($data['list_donatur']) ? 'justify-content-center flex-column' : 'justify-content-between'); ?>" id="title">
                <?php
                    if (!isset($data['list_donatur'])) {
                        echo '<center><div class="empty mx-auto"></div><h4>Belum ada donatur</h4><p class="desc small mt-2">Daftar donasi baru akan ditampilkan disini</p></center>';
                    } else {
                ?>
                <div class="desc align-self-end">
                    <h4>Donatur</h4>
                </div>
                <a data-bs-target="#modalListDonatur" data-bs-toggle="modal" href="javascript:void(0);" class="text-decoration-underline">Seluruh Donatur <i class="lni lni-chevron-right"></i></a>
                <?php } ?>
                <span class="node"></span>
            </div>
            <?php if (isset($data['list_donatur'])) { 
                foreach($data['list_donatur'] as $key => $donatur) {
                    ?>
                    <div class="donatur col-12 bg-light rounded-box p-3 d-flex justify-content-between gap-2" data-id-donasi="<?= strrev(base64_encode($donatur->id_donasi) ?? ''); ?>">
                        <div class="media d-flex gap-3 flex-column">
                            <div class="avatar border rounded">
                                <img src="<?= $donatur->path_avatar; ?>" alt="<?= $donatur->nama_avatar; ?>" class="avatar">
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0"><?= '<span>' . $donatur->nama_donatur . '</span>'; ?></h5>
                                <?= (!empty($donatur->doa) ? '<p class="desc">'. $donatur->doa .'</p>' : ''); ?>
                            </div>
                        </div>
                        <div class="row w-100 g-0 align-items-end">
                            <div class="col">
                                <p class="text-black-50 text-decoration-underline">Donasi</p>
                                <span class="fw-bold"><?= $donatur->jumlah_donasi; ?></span>
                            </div>
                            <div class="col d-flex justify-content-end align-items-center">
                                <div class="d-flex flex-column align-items-center gap-1">
                                    <span class="heart-animation<?= ($donatur->checked ? ' animate' : ''); ?>" <?= ($donatur->checked ? 'checked="true"' : ''); ?>></span>
                                    <span class="liked text-orange"><?= $donatur->liked; ?> Disukai</span>
                                </div>
                            </div>
                        </div>
                    </div>
            <?php }
            } ?>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalListDonatur">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center border-0">
                <div class="row m-0 justify-content-center w-100">
                    <div class="col-12 col-lg-6 d-flex justify-content-between align-items-center px-0">
                        <h5 class="modal-title">Daftar Donatur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body border-top">
                <div class="row m-0 justify-content-center w-100">
                    <div class="px-0 col-12 col-lg-6 d-flex justify-content-between align-items-center flex-column gap-y-4" id="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalListUpdate">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center border-0">
                <div class="row m-0 justify-content-center w-100">
                    <div class="col-12 col-lg-8 col-xl-6 d-flex justify-content-between align-items-center px-0">
                        <h5 class="modal-title">
                            Update Berita
                            <div id="data-filter"></div>
                        </h5>
                        <button type="button" class="btn btn-outline-orange" data-bs-dismiss="modal" aria-label="Close"><i class="lni lni-chevron-left"></i> Kembali</button>
                    </div>
                </div>
            </div>
            <div class="modal-body border-top">
                <div class="row m-0 justify-content-center w-100">
                    <div class="px-0 col-12 col-lg-8 col-xl-6">
                        <div class="timeline d-flex gap-y-4" id="content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalDetilUpdate">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content rounded-box">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <h5 class="modal-title"><?= (isset($data['modal_update_berita']) ? $data['modal_update_berita']->judul :'Judul Informasi'); ?></h5>
                    <?= (isset($data['modal_update_berita']) ? '<span class="badge'. (' '). Utility::labelInformasi($data['modal_update_berita']->label)['class'] .' pt-1 text-capitalize">'. Utility::labelInformasi($data['modal_update_berita']->label)['text'] .'</span>' : ''); ?>
                </div>
                <button type="button" class="btn btn-outline-orange-reverse" data-bs-dismiss="modal" aria-label="Close">Tutup</button>
            </div>
            <div class="modal-body">
                <?php if (isset($data['modal_update_berita'])) { ?>
                <div class="d-flex align-items-center gap-x-3">
                    <div class="avatar rounded-circle bg-transparent border overflow-hidden"
                        data-id-author="<?= strrev(base64_encode($data['modal_update_berita']->id_author ?? '')); ?>">
                        <img src="<?= (isset($data['modal_update_berita']->path_author) ? $data['modal_update_berita']->path_author : ''); ?>" alt="<?= (isset($data['modal_update_berita']->nama_author) ? $data['modal_update_berita']->nama_author : ''); ?>" class="img-fluid">
                    </div>
                    <div class="media-body">
                        <div class="name mb-0 text-black-50 font-weight-bold">
                            <span><?= $data['modal_update_berita']->modified_at; ?></span>
                        </div>
                        <div class="small text-black-50 font-weight-bolder">
                            <span><?= $data['modal_update_berita']->nama_author; ?></span>
                        </div>
                    </div>
                </div>
                <?php } ?>
                <div id="content" class="p-0">
                    <?= (isset($data['modal_update_berita']) ? $data['modal_update_berita']->isi :''); ?>
                </div>
            </div>
            <div class="modal-footer border-light justify-content-center py-4 gap-3">
                <div class="lets-donate"></div>
                <div class="media">
                    <a href="<?= '/donasi/buat/baru/'. $data['detil_bantuan']->id_bantuan; ?>" class="text-danger fw-bolder text-decoration-underline">Ikutan juga berdonasi</a>
                    <p class="desc small">Yuk kita bantu</p>
                </div>
                <button class="btn btn-outline-orange-reverse p-2" data-bs-target="#modalShareBtn"><i class="bi bi-share-fill fs-1" style="margin-left: -0.5px;"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalShareBtn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-box">
            <div class="modal-header">
            <h5 class="modal-title">Bagikan Lewat</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex gap-2 share">
            <a type="button" class="btn btn-outline-green-box rounded-box p-2 medsos-icon">
                <i class="bi bi-whatsapp fs-4"></i>
            </a>
            <a type="button" class="btn btn-outline-dark rounded-box p-2 medsos-icon">
                <i class="bi bi-twitter-x fs-4"></i>
            </a>
        </div>
        </div>
    </div>
</div>

<div class="modal fade in" tabindex="-1" id="modalPopUpPenawaran">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-box overflow-hidden">
            <div class="modal-header justify-content-center border-0 services d-flex flex-column gap-3">
                <img src="<?= $data['detil_bantuan']->path_gambar_medium; ?>" alt="<?= 'Gambar '. $data['detil_bantuan']->nama_gambar_medium; ?>" class="img-fluid opacity rounded-box" data-animation-name="zoom-in">
                <div class="row align-items-end w-100 bg-white rounded-box p-3 m-0 gap-2">
                    <div class="col px-0">
                        <h6>Terkumpul</h6>
                        <p class="text-muted">
                            <?= 'Rp. ' . Output::tSparator($data['detil_bantuan']->total_donasi); ?>                            
                        </p>
                    </div>
                    <div class="col-auto text-end px-0">
                        <small>
                            <?= $data['detil_bantuan']->sisa_waktu; ?>                            
                        </small>
                    </div>
                    <div class="col-12 px-0">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="<?= $data['detil_bantuan']->persentase_pelaksanaan; ?>" <?= ' style="width:' . $data['detil_bantuan']->persentase_pelaksanaan. '"' ; ?>></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body justify-content-between d-flex">
                <button class="btn btn-light border" data-bs-dismiss="modal">Nanti Aja</button>
                <a href="<?= '/donasi/buat/baru/'. $data['detil_bantuan']->id_bantuan; ?>" class="btn donasi fw-bold">Ya saya donasi</a>
            </div>
        </div>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" class="position-fixed d-flex justify-content-end flex-column align-items-end gap-2">
</div>