<section id="main">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <dotlottie-player class="mx-auto rounded-circle overflow-hidden mt-3" src="https://lottie.host/994d72ff-5477-41a0-8efa-a126f1ba34e9/xsTdPGGTsY.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
            </div>
            <div class="col-12">
                <p class="fw-bolder my-2">Sob, kamu lagi diluar jangkauan internet</p>
                <p>Halaman ini untuk sementara gak bisa ditampilkan</p>
                <a href="/" class="btn btn-outline-green-box rounded-box mt-3 fw-bold px-3">Kembali ke Beranda</a>
            </div>
        </div>
    </div>
</section>