.inputGroup {
    background-color: transparent;
    display: block;
    position: relative;
    width: 100%;
}

.inputGroup input[type="radio"]+label,
.inputGroup input[type="checkbox"]+label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.inputGroup input[type="radio"]+label,
.inputGroup input[type="checkbox"]+label {
    font-weight: bolder;
    height: 100%;
}

.inputGroup input[type="radio"]+label,
.inputGroup input[type="radio"]+label:after,
.inputGroup input[type="checkbox"]+label,
.inputGroup input[type="checkbox"]+label:after {
    z-index: 2;
    transition: all .2s ease-in;
}

.inputGroup input[type="radio"]+label:after,
.inputGroup input[type="checkbox"]+label:after,
.inputGroup input[type="radio"],
.inputGroup input[type="checkbox"] {
    --inputGroup-size: 1rem;
    width: var(--inputGroup-size);
    height: var(--inputGroup-size);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.inputGroup input[type="radio"]+label:after,
.inputGroup input[type="checkbox"]+label:after {
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 0px 0.75px;
    background-size: var(--inputGroup-size);
}

.inputGroup input[type="checkbox"]+label:after {
    border-radius: .25em;
}

.inputGroup input[type="radio"],
.inputGroup input[type="checkbox"] {
    visibility: hidden;
}

.inputGroup input[type="radio"]:checked+label:after,
.inputGroup input[type="checkbox"]:checked+label:after {
    background-color: #21ba45;
    border-color: #21ba45;
    color: #fff;
}

.inputGroup.input-file:hover {
    background-color: var(--light) !important;
    border-color: var(--light) !important;
}

.inputGroup[data-file-passed="true"] {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.inputGroup[data-file-passed="false"] {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.inputGroup[data-file-passed="true"] *,
.inputGroup[data-file-passed="false"] * {
    color: white;
}

.inputGroup[data-file-passed="true"] i::before {
    content: "\ea26";
    color: var(--success) !important;
}

@keyframes pulse {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

.inputGroup[data-file-passed="false"] i::before {
    content: "\ea0e";
    animation: pulse .3s linear infinite alternate;
}

.inputGroup[data-file-passed="true"]:hover i::before {
    content: "\ea29";
    color: var(--secondary) !important;
}

.inputGroup[data-file-passed="false"] label span.size {
    font-weight: bolder !important;
}

.inputGroup input[type="file"] {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0px;
    opacity: 0;
    cursor: pointer;
}

.inputGroup input[type="file"]~.desc+i {
    font-size: 1.5rem;
}

.inputGroup input[type="file"]~.desc+i::before {
    font-size: 1.5rem;
}

.inputGroup input[type="file"]~.desc span {
    font-size: .7rem;
}

@media (min-width: 425px) {

    .inputGroup input[type="radio"],
    .inputGroup input[type="radio"]+label:after {
        --inputGroup-size: 1.25rem;
    }
}