#kwitansi {
    min-height: 100vh;
}

#kwitansi .card {
    background-image: url("/assets/images/brand/pojok-berbagi-white.png");
    /* background-blend-mode: luminosity; */
    /* background-image: url(/assets/images/brand/pojok-berbagi-transparent.png); */
    background-repeat: no-repeat;
    background-position: center;
}

#kwitansi #id-kwitansi::before {
    content: '#';
}

#kwitansi img {
    width: 60px;
}

#kwitansi img#img-cp {
    margin-bottom: 2px;
}

#kwitansi #kwitansi-note {
    background-image: url("/assets/images/brand/pattern-to-trasparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
}

#kwitansi #qs {
    font-size: small;
}

#kwitansi #signature {
    background-image: url("/assets/images/brand/patern-pojok-berbagi-horizontal.png");
}

@media print {

    #kwitansi {
        align-items: flex-start !important;
    }

    #kwitansi-section,
    .card-footer:last-child {
        border-radius: 20px !important;
        box-shadow: none !important;
    }

    .no-print {
        display: none !important;
    }

    body {
        -webkit-print-color-adjust: exact !important;
        margin: 0px 2em !important;
    }
}