.page-item.page-link {
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: .875rem;
    display: flex;
    margin: 0 3px;
    padding: 0;
    border-radius: 50%!important;
    align-items: center;
    justify-content: center;
    color: #8898aa;
    border: 1px solid #dee2e6;
    background-color: #fff;
    text-decoration: none;
}

.page-item.page-link.active {
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    z-index: 3;
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
}

.page-item.page-link:hover:not(.active):not(.disabled) {
    z-index: 2;
    text-decoration: none;
    color: #8898aa;
    border-color: #dee2e6;
    background-color: #dee2e6;
}

.page-item.page-link:not(.disabled) {
    cursor: pointer;
}