<div class="row">
    <div class="col-lg-7 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h3 class="text-capitalize mb-0">Tambah Donasi</h3>
            </div>
            <div class="card-body form">
                <div class="row">
                    <div class="col">
                        <div class="form-group" id="id_bantuan">
                            <label class="form-control-label" for="input-bantuan-donasi">Program Bantuan</label>
                            <select class="form-control" id="input-bantuan-donasi" name="id_bantuan"
                                data-required="true">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group" id="waktu-bayar">
                            <label for="input-waktu-bayar" class="form-control-label">Tanggal
                                Bayar</label>
                            <div class="input-group">
                                <input spellcheck="false" class="form-control datepicker" placeholder="d M yyyy"
                                    type="text" name="waktu_bayar" id="input-waktu-bayar" data-date-end-date="0d"
                                    data-required="true">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58 px-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" id="jumlah_donasi">
                            <label class="form-control-label" for="input-jumlah-donasi">Jumlah
                                Donasi</label>
                            <input spellcheck="false" type="text" id="input-jumlah-donasi" class="form-control"
                                placeholder="Nominal Donasi" name="jumlah_donasi" data-required="true">
                        </div>
                        <div class="form-group" id="id_cp">
                            <label class="form-control-label" for="input-cp-donasi">Channel
                                Payment</label>
                            <select class="form-control" id="input-cp-donasi" name="id_cp" data-required="true">
                                <option></option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column">
                        <div class="form-group" id="id_donatur">
                            <label class="form-control-label" for="input-donatur-donasi">Donatur</label>
                            <select class="form-control" id="input-donatur-donasi" name="id_donatur"
                                data-required="true">
                                <option></option>

                            </select>
                        </div>
                        <div class="form-group" id="alias">
                            <div class="custom-control custom-checkbox d-flex justify-content-between p-0">
                                <input type="checkbox" id="input-check-alias" class="custom-control-input"
                                    name="check_alias">
                                <label class="custom-control-label" for="input-check-alias">Nama
                                    dismarkan</label>

                            </div>
                            <input spellcheck="false" type="text" id="input-alias-donasi" class="form-control d-none"
                                placeholder="Alias" name="alias" maxlength="30">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group w-100">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="input-check-doa"
                                    name="check_doa">
                                <label class="custom-control-label" for="input-check-doa">Doa Dari
                                    Donatur</label>
                            </div>
                            <textarea spellcheck="false" maxlength="250" class="form-control textarea d-none"
                                aria-label="With textarea" name="doa" placeholder="Ketik disini..."
                                id="textarea-doa"></textarea>
                            <div id="charLeft" class="d-none">
                                <span class="text-orange">0</span> / 250
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="notifikasi_bayar" name="notifikasi">
                            <label class="custom-control-label" for="notifikasi_bayar">Kirim Notifikasi
                                Sudah Bayar</label>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary float-right">Simpan</button>
                        <button type="clear"
                            class="btn btn-link float-right mr-2 text-warning font-weight-bolder">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-3">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h3 class="text-capitalize mb-0">Donasi Terverivikasi <i class="fa fa-check-circle text-green"></i></h3>
                <a href="/admin/donasi/index/terverivikasi" class="btn btn-sm btn-outline-primary">See All</a>
            </div>
            <div class="">
                <table class="table align-items-center table-flush table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Donasi</th>
                            <th class="fit text-right">Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php 
                        if(isset($data['donasi_terverivikasi_terakhir'])) { 
                            foreach($data['donasi_terverivikasi_terakhir'] as $key => $donasi_terakhir) {
                                ?>
                        <tr>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="text-muted font-weight-bold">
                                        <?= $donasi_terakhir->jumlah_donasi; ?>
                                    </div>
                                    <div class="font-weight-bolder">
                                        <?= $donasi_terakhir->nama_bantuan; ?>
                                    </div>
                                </div>
                            </td>
                            <td class="fit text-right">
                                <div class="row">
                                    <div class="col-12">
                                        <b class="text-muted">
                                            <?= $donasi_terakhir->waktu_bayar; ?>
                                        </b>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-muted badge badge-primary text-capitalize py-1 px-2">
                                            <span class="jenis-cp">
                                                <?= Utility::keteranganJenisChannelPayment($donasi_terakhir->jenis_cp); ?>
                                            </span> - <span class="nama-cp">
                                                <?= $donasi_terakhir->nama_cp; ?>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <?php 
                            }
                        } 
                        ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div aria-live="polite" aria-atomic="true" style="bottom: 1em; right: 1em;"
    class="position-fixed d-flex justify-content-end flex-column align-items-end">
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-toast="feedback" data-delay="5000">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div class="small-box rounded p-2 ailgn-items-center"></div>
            <strong class="mr-auto">Pemberitahuan</strong>
            <small class="text-muted time-passed">Beberapa saat yang lalu</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            data.feedback.message
        </div>
    </div>
</div>
<div class="modal fade in" tabindex="-2" id="modalNotifikasiTambahDonasiBantuanSelesai" role="dialog"
    aria-labelledby="modalNotifikasiTambahDonasiBantuanSelesaiLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered fullscreen">
        <div class="modal-content bg-gradient-danger d-flex justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalNotifikasiTambahDonasiBantuanSelesaiLabel">Peringatan</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="py-3 text-center">
                                <i class="ni ni-bell-55 ni-3x"></i>
                                <h2 class="heading mt-4">Anda harus baca ini!</h2>
                                <p class="font-weight-light">Anda akan menambah data donasi untuk bantuan yang sudah
                                    <span class="font-weight-bolder">di Take Down !!</span>
                                </p>
                                <a data-id="" target="_blank"
                                    class="font-weight-bolder text-underline badge badge-primary p-2 bg-primary text-white"
                                    id="nama-bantuan">nama_bantuan</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-danger font-weight-bolder mx-auto"
                                data-dismiss="modal">Oke,
                                saya paham.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>