<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Belum Terverivikasi</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card"
                            data-count-up-value="<?= $data['countUpDonasi']->sum_belum_terverivikasi; ?>"></span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-fat-delete"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Sudah Terverivikasi</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card"
                            data-count-up-value="<?= $data['countUpDonasi']->sum_sudah_terverivikasi; ?>"></span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="ni ni-check-bold"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Donasi Masuk</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card"
                            data-count-up-value="<?= $data['countUpDonasi']->count_donasi; ?>"></span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                            <i class="ni ni-paper-diploma"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" id="list-donasi">
            <div class="card-header d-flex justify-content-between flex-column flex-md-row"
                style="row-gap: 1rem; column-gap: .25rem;">
                <div class="item">
                    Kelola
                    <span class="text-green">List Donasi</span>
                </div>
                <div class="right-header d-flex align-items-center gap-x-2 justify-content-between">
                    <a href="/admin/donasi/buat" class="btn btn-sm btn-outline-primary py-2 px-3">Buat Data Donasi</a>
                    <div class="status" style="font-size: .75rem; right: 1.25rem;">
                        <div class="font-weight-bold text-black-50">
                            Menampilkan
                            <span class="text-orange">
                                <?= count(is_countable($data['list_donasi']['data']) ? $data['list_donasi']['data'] : []); ?>
                            </span>
                            dari
                        </div>
                        <div class="float-right badge badge-pill badge-primary">
                            <span class="counter-card"
                                data-count-up-value="<?= $data['list_donasi']['total_record']; ?>"></span>
                            Donasi
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-borderless table-hover table-responsive-md">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">Id Donasi</th>
                            <th class="font-weight-bold auto">Status</th>
                            <th class="font-weight-bold auto">Nominal (Rp)</th>
                            <th class="font-weight-bold auto">Aksi</th>
                        </tr>
                    </thead>
                    <tbody<?= (isset($this->data['limit']) ? ' data-limit="'. $this->data['limit'] .'"' : '') ?>>
                        <?php 
                            if (count(is_countable($data['list_donasi']['data']) ? $data['list_donasi']['data'] : []) > 0) {
                                foreach($data['list_donasi']['data'] as $listDonasi) {
                                    if ($listDonasi->bayar == '1') {
                                        $badge = 'badge-success';
                                        $verivikasi = 'Sudah Diverivikasi';
                                    } else {
                                        $badge = 'badge-warning';
                                        $verivikasi = 'Belum Diverivikasi';
                                    }
                        ?>
                        <tr>
                            <td class="py-2">
                                <a href="#" class="id-donasi text-primary font-weight-bolder"
                                    data-id="<?= $listDonasi->id_donasi; ?>">
                                    <?= $listDonasi->id_donasi; ?>
                                </a><span class="font-weight-bolder" <?=(!empty($listDonasi->warna) ? ' style="color: '
                                    . $listDonasi->warna . '"' : '') ?>>
                                    <?= $listDonasi->nama_bantuan; ?>
                                </span>
                                <?= (!empty($listDonasi->nama_sektor) ? '<span class="text-muted"> (' . $listDonasi->nama_sektor . ')</span>' : ''); ?>
                                <div class="time small text-black-50 font-weight-bolder">
                                    <?= $listDonasi->create_donasi_at; ?>
                                </div>
                            </td>
                            <td class="py-2">
                                <span class="badge <?= $badge; ?>">
                                    <?= $verivikasi; ?>
                                </span>
                                <?= (!empty($listDonasi->waktu_bayar) ? '<div class="small text-black-50 font-weight-bolder">' . $listDonasi->waktu_bayar . '</div>' : ''); ?>
                            </td>
                            <td class="py-2">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <div class="name mb-0 text-black-50 font-weight-bold">
                                            <?= $listDonasi->jumlah_donasi; ?>
                                        </div>
                                        <div class="small text-black-50 font-weight-bolder">
                                            <?= Utility::keteranganJenisChannelPayment($listDonasi->jenis_cp); ?>
                                        </div>
                                    </div>
                                    <div class="avatar rounded ml-3 bg-transparent border"
                                        data-id-donatur="<?= $listDonasi->id_donatur; ?>">
                                        <img src="<?= $listDonasi->path_gambar_cp; ?>"
                                            alt="<?= $listDonasi->nama_path_gambar_cp; ?>" class="img-fluid">
                                    </div>
                                </div>
                            </td>
                            <td class="text-right auto">
                                <div class="dropdown show">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                        x-placement="top-end">
                                        <a class="dropdown-item"
                                            href="/admin/bantuan/data/<?= $listDonasi->id_bantuan; ?>">Lihat Program
                                            Donasi</a>
                                        <?= ($listDonasi->bayar == '1' ? '<a class="dropdown-item" data-id="'.$listDonasi->id_donasi.'" href="javascript():;" data-toggle="modal" data-target="#modalKuitansiDonasi">Kuitansi</a>' : ''); ?>
                                        </a>
                                        <!-- <a class="dropdown-item" href="#">Lihat Data Donatur</a> -->
                                        <a class="dropdown-item<?= ($listDonasi->bayar == '1' ? ' disabled">Sudah
                                            Terverivikasi' : ' text-warning font-weight-bold"
                                            data-id="'.$listDonasi->id_donasi.'" href="javascript():;"
                                            data-toggle="modal" data-target="#modalValidasiDonasi">Verivikasi');
                                            ?>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <?php 
                                }
                            } else {
                            
                            }
                        ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="font-weight-bold">Id Donasi</th>
                                <th class="font-weight-bold">Status</th>
                                <th class="font-weight-bold">Nominal (Rp)</th>
                                <th class="font-weight-bold">Aksi</th>
                            </tr>
                        </tfoot>
                </table>
            </div>
            <div class="card-footer">
                <div class="row align-items-center gap-y-3">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cari.." name="search"
                                autocomplete="off" <?=(isset($data['search']) ? 'value="' . $data['search'] . '"' : '' )
                                ?>>
                        </div>
                    </div>
                    <div class="col">
                        <ul class="pagination pagination-sm justify-content-center justify-content-md-end mb-0"
                            data-pages="<?= $this->data['pages']; ?>">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row gap-4 m-0" id="cp-card">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-gradient-gray overflow-hidden text-white d-flex align-items-center"
                data-cp="bank-bjb">
                <img src="/assets/images/partners/gunung-gunungan.png" alt="Gunung-gunungan" class="py-3">
                <div class="card-body p-3 d-flex flex-column justify-content-between w-100">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-white-50 font-weight-bolder">Saldo Donasi Via BJB</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_bjb); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/bjb-white.png" alt="BJB" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="text-white m-0">
                                <div>POJOK BERBAGI INDONESIA</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_bjb; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/partners/gpn-white.png" alt="GPN" class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-gradient-success overflow-hidden text-white" data-cp="bank-bsi">
                <div class="card-body p-3 d-flex flex-column justify-content-between">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-white-50 font-weight-bolder">Saldo Donasi Via BSI</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_bsi); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/bsi-white.png" alt="BSI" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="text-white m-0">
                                <div>POJOK BERBAGI INDONESIA</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_bsi; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/partners/gpn-white.png" alt="GPN" class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-warning text-white overflow-hidden" data-cp="bank-bri">
                <div class="strip-top"></div>
                <div class="strip-bottom"></div>
                <div class="card-body p-3 d-flex flex-column justify-content-between">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-white-50 font-weight-bolder">Saldo Donasi Via BRI</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_bri); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/bri-white.png" alt="BRI" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="text-white m-0">
                                <div>POJOK BERBAGI INDONESIA</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_bri; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/partners/gpn-white.png" alt="GPN" class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-gradient-gray text-white overflow-hidden" data-cp="bank-mandiri">
                <div class="card-body p-3 d-flex flex-column justify-content-between">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-white-50 font-weight-bolder">Saldo Donasi Via Mandiri</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_mandiri); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/mandiri.png" alt="Mandiri" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="text-white m-0">
                                <div>POJOK BERBAGI INDONESIA</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_mandiri; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/partners/gpn-white.png" alt="GPN" class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-white overflow-hidden" data-cp="tunai" style="display: grid;">
                <div class="card-body p-3 d-flex flex-column justify-content-between">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-black-50 font-weight-bolder">Saldo Donasi Tunai</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_tunai); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/tunai.png" alt="Tunai" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="m-0">
                                <div>KANTOR POJOK BERBAGI</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_tunai; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/brand/pojok-berbagi-transparent.png" alt="Pojok Berbagi"
                                class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-white overflow-hidden" data-cp="gopay" style="display: grid;">
                <div class="card-body p-3 d-flex flex-column justify-content-between">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-black-50 font-weight-bolder">Saldo E-Wallet Via Gopay</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_gopay); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/gopay.png" alt="Gopay" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="m-0">
                                <div>Gopay</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_gopay; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/brand/pojok-berbagi-transparent.png" alt="Pojok Berbagi"
                                class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-white overflow-hidden" data-cp="dana" style="display: grid;">
                <div class="card-body p-3 d-flex flex-column justify-content-between">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-black-50 font-weight-bolder">Saldo E-Wallet Via Dana</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_dana); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/dana.png" alt="Dana" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="m-0">
                                <div>Dana</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_dana; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/brand/pojok-berbagi-transparent.png" alt="Pojok Berbagi"
                                class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 card p-0 m-0 bg-white overflow-hidden" data-cp="shopeepay" style="display: grid;">
                <div class="card-body p-3 d-flex flex-column justify-content-between">
                    <div class="row g-0">
                        <div class="col saldo">
                            <small class="text-black-50 font-weight-bolder">Saldo E-Wallet Via Dana</small>
                            <div>
                                <?= Output::tSparator($data['saldo_donasi']->saldo_shopeepay); ?>
                            </div>
                        </div>
                        <div class="col-3 logo-cp">
                            <img src="/assets/images/partners/shopeepay.png" alt="Dana" class="img-fluid img-center">
                        </div>
                    </div>
                    <div class="row g-0 align-items-end">
                        <div class="col">
                            <h6 class="m-0">
                                <div>Dana</div>
                                <div class="font-weight-300">
                                    <?= $data['saldo_donasi']->nomor_shopeepay; ?>
                                </div>
                            </h6>
                        </div>
                        <div class="col-3">
                            <img src="/assets/images/brand/pojok-berbagi-transparent.png" alt="Pojok Berbagi"
                                class="img-fluid img-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Action -->
<div class="modal in" id="modalValidasiDonasi" tabindex="-1" role="dialog" aria-labelledby="modalValidasiDonasi-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fullscreen" role="document">
        <div class="modal-content justify-content-center align-items-center scaleIn">
            <div class="container p-0 py-md-3 py-lg-5 px-lg-3">
                <div class="row gap-y-4">
                    <div class="col-12 col-lg-6">
                        <div class="box rounded-box bg-orange">
                            <div class="row align-items-center px-2">
                                <div class="col-auto">
                                    <img src="/assets/images/default.png" alt="avatar" class="avatar avatar-lg rounded-circle bg-white"
                                        id="donatur-avatar">
                                </div>
                                <div class="col">
                                    <h2 class="mb-0"><span class="font-weight-bolder text-white" id="donatur-name">Nama
                                            Donatur</span>
                                    </h2>
                                    <p class="mb-0 text-white" id="donatur-email">email@donatur.id</p>
                                </div>
                                <div class="col-auto align-self-end mb-1">
                                    <!-- <a href="" class="font-weight-bolder text-white">Detil</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="box rounded-box bg-secondary">
                            <div class="row px-2">
                                <div class="col-12">
                                    <h3><b id="nama-bantuan">Bantuan Ku dan Kamu Sangat Keren</b></h3>
                                </div>
                                <div class="col font-weight-bolder">
                                    Rp. <span id="jumlah-donasi">100.000</span>
                                </div>
                                <div class="col text-right">
                                    <div class="px-1 row">
                                        <div class="px-1 col">
                                            <span id="jenis-cp" class="text-muted font-weight-bold">Transfer
                                                Bank</span>
                                        </div>
                                        <div class="px-1 col-auto">
                                            <img src="/img/payment/bsi.png" alt="qris" class="img-fluid" id="donasi-cp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box rounded-box bg-secondary">
                            <div class="row px-2">
                                <div class="col">
                                    <h2 class="mb-0 font-weight-bolder">Verivikasi Donasi Manual</h2>
                                </div>
                                <div class="col text-right">
                                    Donasi ini dibuat pada <span class="create-at font-weight-bolder">Hari, Tnggal Bulan
                                        Tahun Jam:Menit:Detik</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="box rounded-box bg-secondary">
                            <h3 class="px-md-2 text-center">Pilih <span id="date-type-text"
                                    class="font-weight-bolder">Tanggal</span>
                                Pembayaran Donasi</h3>
                            <input type="hidden" id="waktu_bayar">
                            <div id="datepicker"></div>
                            <div class="timepicker"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-between flex-column">
                        <div class="row" id="doa-dan-tanpa-doa">
                        </div>
                        <div class="d-flex justify-content-end d-flex p-3 p-md-0 mx-1 mx-md-0" id="modal-button">
                            <button class="btn btn-link text-orange font-weight-bolder"
                                data-dismiss="modal">Batal</button>
                            <button class="btn btn-outline-green-box" type="submit">Verivikasi Sekarang</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal in bg-white" id="modalKuitansiDonasi" tabindex="-1" role="dialog"
    aria-labelledby="modalKuitansiDonasi-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fullscreen" role="document">
        <div class="modal-content justify-content-center align-items-center scaleIn">
            <div class="container">
                <div class="row align-items-center" id="kuitansi">
                    <div class="col-12">
                        <div class="card bg-secondary border border-secondary rounded-box shadow-lg"
                            id="kuitansi-section">
                            <div
                                class="border-0 card-header bg-transparent justify-content-between d-flex align-items-center">
                                <h1 class="display-4 mb-0 text-orange font-weight-bolder">Kuitansi Donasi</h1>
                                <div class="item">
                                    <img src="/assets/images/brand/pojok-berbagi-transparent.png" alt="Pojok Berbagi"
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column gap-y-4">
                                <div class="box rounded-box bg-orange text-white" id="kuitansi-note">
                                    <div class="px-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <b>Nomor Kuitansi
                                                    <div class="text-white-50" id="id-kuitansi">1000</div>
                                                    <small class="text-white">
                                                        Dibuat <span id="create-kuitansi-at">CKA</span>
                                                    </small>
                                                </b>
                                            </div>
                                            <div class="col-6 text-right">
                                                <b>
                                                    Donatur
                                                    <div class="font-weight-bolder">
                                                        <span id="nama-donatur">ND</span> (<span
                                                            id="samaran-donatur">Hamba
                                                            Allah</span>)
                                                    </div>
                                                </b>
                                                <small class="gap-x-2 text-white-50">
                                                    <span id="kontak-donatur">08213213214</span>
                                                    <span id="email-donatur">donatur@donatur.id</span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 font-weight-bold">Donasi</div>
                                            <div class="col-6 font-weight-bold text-right">Jumlah
                                                Donasi</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 font-weight-bolder">
                                                <span id="nama-bantuan">Judul Bantuanku dan Bantuanmu Sungguh
                                                    Keren</span>
                                            </div>
                                            <div class="col-6 font-weight-bolder text-right">Rp. <span
                                                    id="jumlah-donasi">10.000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="box rounded-box border" style="background-color: #88898a08;">
                                            <b>Payment Method</b>
                                            <div class="row">
                                                <div class="col">
                                                    <div>
                                                        <span id="jenis-cp">jenis_cp</span>
                                                        <div class="text-black-50 small" id="nomor-cp">
                                                            nomor_cp
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto align-items-end d-flex">
                                                    <img src="" alt="Gambar Channel Payment" id="img-cp">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row" style="height: 100%;">
                                            <div class="col d-flex align-items-end justify-content-between flex-column">
                                                <div id="signature">
                                                    <img src="" alt="" class="img-fluid signature">
                                                </div>
                                                <div id="pengesah">
                                                    <p id="nama-pengesah" class="mb-0 text-capitalize">
                                                        <?= ucwords(strtolower($data['pegawai']->nama)); ?>
                                                    </p>
                                                    <h4 class="mb-0 gap-x-1 d-flex align-items-end" id="alias">
                                                        <?= $data['admin_alias']; ?>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col d-flex align-items-center justify-content-end"
                                                id="canvas-qr">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-start border-lighter" style="border-top-style: dotted;">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="qs" class="text-center">
                                            <i>"Sesungguhnya orang-orang yang bersedekah baik laki-laki maupun
                                                perempuan dan
                                                meminjamkan kepada Allah pinjaman yang baik, niscaya akan
                                                dilipat-gandakan
                                                pembayarannya oleh Allah kepada mereka, dan bagi mereka pahala yang
                                                banyak."</i>
                                            <b class="d-inline-block">QS. Al-Hadid:18</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-secondary border-start border-lighter rounded-box"
                                style="border-top-style: dotted;">
                                <div class="row">
                                    <div class="col-4 d-flex gap-x-4 align-items-center">
                                        <div class="item">
                                            <img src="/assets/images/brand/pojok-berbagi-transparent.png"
                                                alt="Pojok Berbagi">
                                        </div>
                                        <div class="item row">
                                            <div class="col-12"><b>Kontak</b></div>
                                            <div class="col-12">cr@pojokberbagi.id</div>
                                        </div>
                                    </div>
                                    <div class="col-8 text-right small">
                                        <div>Jl. Batik Halus No. 17</div>
                                        <div>Pahlawan, Kota Bandung</div>
                                        <div class="font-weight-bolder"><i class="fab fa-whatsapp"></i>
                                            0812-1333-1113</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 no-print">
                        <div class="card p-4 border border-secondary rounded-box">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <button class="btn btn-link text-black-50 font-weight-bolder"
                                        data-dismiss="modal">Tutup</button>
                                </div>
                                <div class="col-auto">
                                    <button id="print-button" class="btn btn-outline-orange">Cetak
                                        Kuitansi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Toast Action -->

<div aria-live="polite" aria-atomic="true" style="bottom: 1em; right: 1em; z-index: 1050;"
    class="position-fixed d-flex justify-content-end flex-column align-items-end">
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-toast="donasi" data-toast-run="true" data-delay="3000">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div class="small-box rounded p-2 ailgn-items-center bg-danger"></div>
            <strong class="mr-auto">Toast</strong>
            <small class="text-muted time-passed">Time</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">

        </div>
    </div>
    <?php if (Session::exists('toast')) { $toast = Session::flash('toast'); ?>
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-toast="feedback" data-delay="5000" data-toast-run="true">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div
                class="small-box rounded p-2 ailgn-items-center <?= ($toast['error'] == true ? 'bg-danger' : 'bg-success') ?>">
            </div>
            <strong class="mr-auto">Pemberitahuan</strong>
            <small class="text-muted time-passed">Baru saja</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <?= $toast['feedback']['message']; ?>
        </div>
    </div>
    <?php } ?>
</div>