<div class="row">
    <div class="col-12">
        <div class="card position-relative">
            <ul class="nav nav-tabs gap-2" id="nav-tab" role="tablist">
                <li class="nav-item d-flex" role="presentation">
                  <button class="m-0 font-weight-bold nav-link active" id="nav-my-donasi-tab" data-toggle="pill" data-target="#list-my-donasi" type="button" role="tab" aria-controls="nav-my-donasi" aria-selected="true">
                    Data <span class="active">Donasi</span>
                  </button>
                </li>
                <li class="nav-item d-flex" role="presentation">
                  <button class="m-0 font-weight-bold nav-link" id="nav-my-order-tab" data-toggle="pill" data-target="#list-my-order-donasi" type="button" role="tab" aria-controls="nav-my-order-donasi" aria-selected="false">
                    Data <span>Order Donasi</span>
                  </button>
                </li>
            </ul>
            <div class="tab-content" id="tab-content">
                <div class="tab-pane fade show active" id="list-my-donasi" role="tabpanel" aria-labelledby="my-donasi-tab">
                    <div class="card-header row justify-content-end m-0 border-0">
                        <div class="col-12 col-md-4 px-0">
                            <div class="form-label-group">
                                <input type="text" id="input-search" class="form-control" name="search" placeholder="Cari ..." autocomplete="off" maxlength="50" spellcheck="false">
                                <label for="input-search" class="form-control-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover">
                                <thead class="">
                                    <tr>
                                        <th class="font-weight-bold">Id Donasi</th>
                                        <th class="font-weight-bold auto">Status</th>
                                        <th class="font-weight-bold auto">Nominal (Rp)</th>
                                        <th class="font-weight-bold auto">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody<?= (isset($this->data['tagihan_paid']['limit']) ? ' data-limit="'. $this->data['tagihan_paid']['limit'] .'"' : '') ?>>
                                    <?php 
                                        if (isset($data['tagihan_paid'])) {
                                            if (count(is_countable($data['tagihan_paid']['data']) ? $data['tagihan_paid']['data'] : []) > 0) {
                                                foreach($data['tagihan_paid']['data'] as $listDonasi) {
                                                    if ($listDonasi->bayar == '1') {
                                                        $badge = 'badge-success';
                                                        $verivikasi = 'Sudah Diverivikasi';
                                                    } else {
                                                        $badge = 'badge-warning';
                                                        $verivikasi = 'Belum Diverivikasi';
                                                    }
                                    ?>
                                    <tr data-donasi-id="<?= $listDonasi->id_donasi; ?>">
                                        <td class="py-2">
                                            <a href="#" class="id-donasi text-primary font-weight-bolder"
                                                data-id="<?= $listDonasi->id_donasi; ?>">
                                                <?= (isset($listDonasi->id_donasi) ? '<span>'. $listDonasi->id_donasi .'</span>':''); ?>
                                            </a><span class="font-weight-bolder">
                                                <?= $listDonasi->nama_bantuan; ?>
                                            </span>
                                            <?= (!empty($listDonasi->nama_sektor) ? '<span class="text-muted"> (' . $listDonasi->nama_sektor . ')</span>' : ''); ?>
                                            <div class="time small text-black-50 font-weight-bolder">
                                                <?= (isset($listDonasi->create_donasi_at) ? '<span>'. $listDonasi->create_donasi_at .'</span>':''); ?>
                                            </div>
                                        </td>
                                        <td class="py-2">
                                            <span class="badge <?= $badge; ?>">
                                                <?= $verivikasi; ?>
                                            </span>
                                            <?= (!empty($listDonasi->waktu_bayar) ? '<div class="small text-black-50 font-weight-bolder"><span>' . $listDonasi->waktu_bayar . '</span></div>' : ''); ?>
                                        </td>
                                        <td class="py-2">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <div class="name mb-0 text-black-50 font-weight-bold">
                                                        <?= (isset($listDonasi->jumlah_donasi) ? '<span>'. $listDonasi->jumlah_donasi .'</span>':''); ?>
                                                    </div>
                                                    <div class="small text-black-50 font-weight-bolder">
                                                        <?= (isset($listDonasi->jenis_cp) ? '<span>'.Utility::keteranganJenisChannelPayment($listDonasi->jenis_cp).'</span>':''); ?>
                                                        <?= (!is_null($listDonasi->flip) ? '<span class="badge badge-warning">flip</span>':''); ?>
                                                    </div>
                                                </div>
                                                <div class="avatar rounded ml-3 bg-transparent border">
                                                    <img src="<?= $listDonasi->path_gambar_cp; ?>"
                                                        alt="<?= $listDonasi->nama_path_gambar_cp; ?>" class="img-fluid">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right auto">
                                            <div class="dropdown show">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                                    x-placement="top-end">
                                                    <a class="dropdown-item"
                                                        href="/bantuan/<?= (isset($listDonasi->tag) ? $listDonasi->tag : 'detil/'. $listDonasi->id_bantuan); ?>">Lihat Program
                                                        Donasi</a>
                                                    <?= ($listDonasi->bayar == '1' ? '<a class="dropdown-item" data-id="'.$listDonasi->id_donasi.'" href="javascript::void(0);" data-toggle="modal" data-target="#modalKuitansiDonasi">Kuitansi</a>' : ''); ?>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <?php 
                                                }
                                            } else {
                                            
                                            }
                                        } else {
                                            echo '<tr><td colspan="4">Belum ada data Donasi</td></tr>';
                                        }
                                    ?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="font-weight-bold">Id Donasi</th>
                                            <th class="font-weight-bold">Status</th>
                                            <th class="font-weight-bold">Nominal (Rp)</th>
                                            <th class="font-weight-bold">Aksi</th>
                                        </tr>
                                    </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer border-top-0">
                        <div class="row align-items-center gap-y-3">
                            <?php if (isset($this->data['tagihan_paid']['pages'])) { ?>
                                <div class="col">
                                    <ul data-tagihan="paid" class="pagination pagination-sm justify-content-center justify-content-md-end mb-0" data-pages="<?= $this->data['tagihan_paid']['pages']; ?>">
                                    </ul>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-my-order-donasi" role="tabpanel" aria-labelledby="my-order-tab">
                    <div class="card-header row justify-content-end m-0 border-0">
                        <div class="col-12 col-md-4 px-0">
                            <div class="form-label-group">
                                <input type="text" id="input-search-order-donasi" class="form-control" name="search" placeholder="Judul" autocomplete="off" maxlength="50" spellcheck="false">
                                <label for="input-search-order-donasi" class="form-control-label"></label>
                                <span class="input-char-left"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold">Link Id</th>
                                        <th class="font-weight-bold auto">Status</th>
                                        <th class="font-weight-bold auto">Nominal (Rp)</th>
                                        <th class="font-weight-bold auto">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody<?= (isset($this->data['tagihan_unpaid']['limit']) ? ' data-limit="'. $this->data['tagihan_unpaid']['limit'] .'"' : '') ?>>
                                    <?php 
                                        if (isset($data['tagihan_unpaid'])) {
                                            if (count(is_countable($data['tagihan_unpaid']['data']) ? $data['tagihan_unpaid']['data'] : []) > 0) {
                                                foreach($data['tagihan_unpaid']['data'] as $listOrder) {
                                                    if ($listOrder->status == 'PENDING') {
                                                        $badge = 'badge-warning';
                                                    } else if ($listOrder->status == 'FAILED') {
                                                        $badge = 'badge-danger';
                                                    } else if ($listOrder->status == 'SUCCESFUL') {
                                                        $badge = 'badge-success';
                                                    } else {
                                                        $badge = '';
                                                    }
                                    ?>
                                    <tr<?= (isset($listOrder->id_order_donasi) ? ' data-order-id="'. $listOrder->id_order_donasi .'"' : ''); ?>>
                                        <td>
                                            <div class="d-flex gap-x-1">
                                                <div class="id">
                                                    <span class="text-primary font-weight-bolder"
                                                        data-id="<?= $listOrder->id_order_donasi; ?>">
                                                        #<?= $listOrder->id_order_donasi; ?>
                                                    </span>
                                                </div>
                                                <div class="desc">
                                                    <a <?= (isset($listOrder->id_bantuan) ? 'href="/bantuan/data/'.$listOrder->id_bantuan.'"' : 'javascript::void(0);'); ?> class="font-weight-bolder" <?=(!empty($listOrder->warna) ? ' style="color: '
                                                        . $listOrder->warna . '"' : ''); ?><?= (isset($listOrder->nama_bantuan) ? ' data-nama-bantuan="'. $listOrder->nama_bantuan .'"':''); ?>>
                                                        <?= (isset($listOrder->nama_bantuan) ? '<span>'. $listOrder->nama_bantuan .'</span>':''); ?>
                                                    </a>
                                                    <?= (!empty($listOrder->nama_sektor) ? '<span class="text-muted"> (' . $listOrder->nama_sektor . ')</span>' : ''); ?>
                                                    <div class="time small text-black-50 font-weight-bolder">
                                                        <?= (isset($listOrder->create_order_at) ? '<span>'. $listOrder->create_order_at .'</span>':''); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge <?= $badge; ?>">
                                                <?= $listOrder->status; ?>
                                            </span>
                                            <?= (!is_null($listOrder->external_id) ? '<span class="small text-black-50 font-weight-bolder d-block">' . $listOrder->external_id . '</span>' : ''); ?>
                                        </td>
                                        <td>
                                            <div class="media align-items-center channel-payment">
                                                <div class="media-body">
                                                    <div class="name mb-0 text-black-50 font-weight-bold">
                                                        <?= (isset($listOrder->jumlah_donasi) ? '<span>'. $listOrder->jumlah_donasi .'</span>':''); ?>
                                                    </div>
                                                    <div class="small text-black-50 font-weight-bolder">
                                                        <?= (isset($listOrder->jenis_cp) ? '<span data-jenis-cp="'. $listOrder->jenis_cp .'">'.Utility::keteranganJenisChannelPayment($listOrder->jenis_cp).'</span>':''); ?>
                                                        <?= (!is_null($listOrder->flip) ? '<span class="badge badge-warning">flip</span>':''); ?>
                                                    </div>
                                                </div>
                                                <div class="avatar rounded ml-3 bg-transparent border">
                                                    <img src="<?= $listOrder->path_gambar_cp; ?>"
                                                        alt="<?= $listOrder->nama_path_gambar_cp; ?>" class="img-fluid">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown show">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                                    x-placement="top-end">
                                                    <?= (isset($listOrder->id_bantuan) ? '<a class="dropdown-item" href="/bantuan/'. (isset($listOrder->tag) ? $listOrder->tag : 'detil/'. $listOrder->id_bantuan) .'">Lihat Campaign</a>' : ''); ?>
                                                    </a>
                                                    <?= '<a href="/donasi/pembayaran/tagihan/'. $listOrder->jenis_cp .'/'. (isset($listOrder->external_id) ? $listOrder->external_id : $listOrder->id_order_donasi) .'" class="dropdown-item font-weight-bolder" role="button">Cek Pembayaran</a>'; ?>
                                                    <a href="javascript::void(0);" class="dropdown-item text-warning font-weight-bolder" role="button" data-toggle="modal" data-target="#modalGantiMetodePembayaran" data-cp="<?= $listOrder->id_cp; ?>">Ganti Metode Bayar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <?php 
                                                }
                                            } else {
                                                echo '<tr><td colspan="4">Sementara belum ada data baru</td></tr>';
                                            }
                                        } else {
                                            echo '<tr><td colspan="4">Sementara belum ada data baru</td></tr>';
                                        }
                                    ?>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="font-weight-bold">Link Id</th>
                                        <th class="font-weight-bold auto">Status</th>
                                        <th class="font-weight-bold auto">Nominal (Rp)</th>
                                        <th class="font-weight-bold auto">Aksi</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer border-0">
                        <div class="row align-items-center gap-y-3">
                            <?php if (isset($data['tagihan_unpaid']['data'])) { ?>
                            <div class="col-12 col-md">
                                <div class="log-info" style="font-size: .75rem; right: 1.25rem;">
                                    <div class="font-weight-bold text-black-50">
                                        Menampilkan
                                        <span class="text-orange">
                                            <?= count(is_countable($data['tagihan_unpaid']['data']) ? $data['tagihan_unpaid']['data'] : []); ?>
                                        </span>
                                        dari
                                        <span class="counter-card" data-count-up-value="<?= $data['tagihan_unpaid']['record']; ?>"></span>
                                        Data
                                    </div>
                                </div>
                            </div>
                            <?php } ?>
                            <div class="col-12 col-md">
                                <ul data-tagihan="unpaid" class="pagination pagination-sm justify-content-center justify-content-md-end mb-0"<?= (!isset($this->data['tagihan_unpaid']['pages'])? '':'data-pages="'. $this->data['tagihan_unpaid']['pages'] .'"'); ?>>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade in" id="modalGantiMetodePembayaran" tabindex="-1" role="dialog"
    aria-labelledby="modalGantiMetodePembayaranLabel" aria-hidden="true">
    <div class="modal-dialog fullscreen d-block" role="document">
        <div class="modal-content justify-content-center align-items-center scaleIn">
            <div class="container p-0 py-md-3 py-lg-5 px-lg-3">
                <div class="modal-header px-3 p-md-4 d-flex align-items-center">
                    <h5 class="modal-title" id="modalGantiMetodePembayaranLabel">Ganti Metode Pembayaran <a
                            target="_blank" class="text-orange">Nama Bantuan</a></h5>
                    <button type="button fs-5" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-3 p-md-4">
                    <div class="row m-0 gap-3">
                        <div class="col-12 col-md p-0">
                            <div class="row radio-box p-0 gap-3 m-0">
                                <?php 
                                    if (!is_null($data['channel_payment'])) {
                                        foreach($data['channel_payment'] as $key_jenis => $jenis_cp) {
                                            echo '<div class="col-12 p-0"><h5>'. Utility::keteranganJenisChannelPayment($key_jenis) .'</h5></div>';
                                            foreach($jenis_cp as $data_cp) {
                                        ?>
                                <div class="item p-3 d-flex flex-column justify-content-center align-items-center border rounded border-3">
                                    <div class="inputGroup">
                                        <input id="radio2" value="<?= $data_cp->id_cp; ?>" name="id_cp" type="radio" />
                                        <label for="radio2">
                                            <?= $data_cp->nama_cp; ?>
                                        </label>
                                    </div>
                                    <div class="overflow-hidden d-flex justify-content-center align-items-center h-100">
                                        <img src="<?= $data_cp->path_gambar_cp; ?>" alt="<?= $data_cp->nama_cp; ?>"
                                            class="img-fluid" data-jenis-cp="<?= $data_cp->jenis_cp; ?>">
                                    </div>
                                    <h6 class="m-0 text-center">
                                        <?= $data_cp->nama_cp; ?>
                                    </h6>
                                </div>
                                <?php
                                            }
                                        }
                                    }
                                ?>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 px-0 order-first order-md-1">
                            <div class="position-sticky">
                                <p class="bg-lighter p-3 rounded">Metode pembayaran terpilih sebelumnya adalah <b
                                        class="text-warning"><span class="jenis-cp">Jenis_CP</span> - <span
                                            class="nama-cp">Nama_CP</span></b>, silahkan pilih salah satu metode
                                    pembayaran yang tersedia dan konfirmasi perubahan tersebut.</p>
                                <div class="d-flex flex-column align-items-end buttons mt-md-5" id="sticky-on-mob">
                                    <button type="button" class="btn btn-link m-0" data-dismiss="modal">Batal</button>
                                    <button type="button" class="btn btn-primary ml-auto m-0 w-100 w-425-auto disabled"
                                        data-toggle="modal" data-target="#modalKonfirmasiGantiMetodePembayaran">Simpan
                                        Perubahan Metode Bayar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" tabindex="-2" id="modalKonfirmasiGantiMetodePembayaran" role="dialog"
    aria-labelledby="modalKonfirmasiGantiMetodePembayaranLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered fullscreen">
        <div class="modal-content bg-gradient-danger d-flex justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalKonfirmasiGantiMetodePembayaranLabel">Konfirmasi Perubahan
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="py-3 text-center">
                                <i class="ni ni-bell-55 ni-3x"></i>
                                <h4 class="heading mt-4">Anda harus baca ini!</h4>
                                <p class="font-weight-lighter">Apakah anda yakin mengubah metode pembayaran donasi <a
                                        target="_blank"
                                        class="font-weight-bolder text-underline badge badge-primary p-2"
                                        id="nama-bantuan">nama_bantuan</a> menjadi <span
                                        class="jenis-cp font-weight-bolder"></span> - <span
                                        class="nama-cp font-weight-bolder"></span>?</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link text-white mr-auto"
                                data-dismiss="modal">Tidak</button>
                            <!-- <a type="button" class="btn btn-secondary font-weight-bolder" href="<?= '/donatur/donasi/formulir/'. $data_donasi->id_donasi; ?>">Ya</a> -->
                            <button type="submit" class="btn btn-secondary font-weight-bolder">Ya</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal in bg-white" id="modalKuitansiDonasi" tabindex="-1" role="dialog"
    aria-labelledby="modalKuitansiDonasi-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fullscreen" role="document">
        <div class="modal-content justify-content-center align-items-center scaleIn">
            <div class="container">
                <div class="row align-items-center" id="kuitansi">
                    <div class="col-12">
                        <div class="card bg-secondary border border-secondary rounded-box shadow-lg"
                            id="kuitansi-section">
                            <div
                                class="border-0 card-header bg-transparent justify-content-between d-flex align-items-center">
                                <h1 class="display-4 mb-0 text-orange font-weight-bolder">Kuitansi Donasi</h1>
                                <div class="item">
                                    <img src="/assets/images/brand/pojok-berbagi-transparent.png" alt="Pojok Berbagi"
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column gap-y-4">
                                <div class="box rounded-box bg-orange text-white" id="kuitansi-note">
                                    <div class="px-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <b>Nomor Kuitansi
                                                    <div class="text-white-50" id="id-kuitansi">1000</div>
                                                    <small class="text-white">
                                                        Dibuat <span id="create-kuitansi-at">CKA</span>
                                                    </small>
                                                </b>
                                            </div>
                                            <div class="col-6 text-right">
                                                <b>
                                                    Donatur
                                                    <div class="font-weight-bolder">
                                                        <span id="nama-donatur">ND</span> (<span
                                                            id="samaran-donatur">Hamba
                                                            Allah</span>)
                                                    </div>
                                                </b>
                                                <small class="gap-x-2 text-white-50">
                                                    <span id="kontak-donatur">08213213214</span>
                                                    <span id="email-donatur">donatur@donatur.id</span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 font-weight-bold">Donasi</div>
                                            <div class="col-6 font-weight-bold text-right">Jumlah
                                                Donasi</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 font-weight-bolder">
                                                <span id="nama-bantuan">Judul Bantuanku dan Bantuanmu Sungguh
                                                    Keren</span>
                                            </div>
                                            <div class="col-6 font-weight-bolder text-right">Rp. <span
                                                    id="jumlah-donasi">10.000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="box rounded-box border" style="background-color: #88898a08;">
                                            <b>Payment Method</b>
                                            <div class="row">
                                                <div class="col">
                                                    <div>
                                                        <span id="jenis-cp">jenis_cp</span>
                                                        <div class="text-black-50 small" id="nomor-cp">
                                                            nomor_cp
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto align-items-end d-flex">
                                                    <img src="" alt="Gambar Channel Payment" id="img-cp">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row" style="height: 100%;">
                                            <div
                                                class="col d-flex align-items-center justify-content-between flex-column">
                                                <div id="signature">
                                                    <img src="" alt="" class="img-fluid signature">
                                                </div>
                                                <div id="pengesah">
                                                    <p id="nama-pengesah" class="mb-0 text-capitalize"></p>
                                                    <h4 class="mb-0 gap-x-1 d-flex align-items-end" id="alias">
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col d-flex align-items-center justify-content-end"
                                                id="canvas-qr">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-start border-lighter" style="border-top-style: dotted;">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="qs" class="text-center">
                                            <i>"Sesungguhnya orang-orang yang bersedekah baik laki-laki maupun
                                                perempuan dan
                                                meminjamkan kepada Allah pinjaman yang baik, niscaya akan
                                                dilipat-gandakan
                                                pembayarannya oleh Allah kepada mereka, dan bagi mereka pahala yang
                                                banyak."</i>
                                            <b class="d-inline-block">QS. Al-Hadid:18</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-secondary border-start border-lighter rounded-box"
                                style="border-top-style: dotted;">
                                <div class="row">
                                    <div class="col-4 d-flex gap-x-4 align-items-center">
                                        <div class="item">
                                            <img src="/assets/images/brand/pojok-berbagi-transparent.png"
                                                alt="Pojok Berbagi">
                                        </div>
                                        <div class="item row">
                                            <div class="col-12"><b>Kontak</b></div>
                                            <div class="col-12">cr@pojokberbagi.id</div>
                                        </div>
                                    </div>
                                    <div class="col-8 text-right small">
                                        <div>Jl. Batik Halus No. 17</div>
                                        <div>Pahlawan, Kota Bandung</div>
                                        <div class="font-weight-bolder"><i class="fab fa-whatsapp"></i>
                                            0812-1333-1113</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 no-print">
                        <div class="card p-4 border border-secondary rounded-box">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <button class="btn btn-link text-black-50 font-weight-bolder"
                                        data-dismiss="modal">Tutup</button>
                                </div>
                                <div class="col-auto">
                                    <button id="print-button" class="btn btn-outline-orange">Cetak
                                        Kuitansi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Akhir Modal -->
<!-- Toast -->
<div aria-live="polite" aria-atomic="true"
    class="position-fixed d-flex justify-content-end flex-column align-items-end">
    <div class="toast w-100 fade bg-white" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000"
        data-toast="donatur">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div class="small-box rounded bg-danger p-2 ailgn-items-center"></div>
            <strong class="mr-auto"></strong>
            <small class="text-muted time-passed">Kapan</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Isi pesan toast
        </div>
    </div>
</div>