<!-- Header -->
<section class="header text-center py-3 sticky">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-6">
                <div class="d-flex gap-2 align-items-center">
                    <a href="/home">
                        <i class="lni lni-chevron-left fw-bolder fs-5 text-warning"></i>
                    </a>
                    <h5 class="m-0">Donasi</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header -->
<!-- Content -->
<section class="form">
    <div class="container">
        <div class="row justify-content-center">
            <div id="<?= $data['tagihan_donasi']->jenis; ?>" class="col-12 col-md-9 col-lg-6">
                <div class="row align-items-center bg-white shadow-lg p-3 rounded-box g-3">
                    <h5 class="mb-4">Instruksi Pembayaran</h5>
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-md-4">Nominal Trasfer</div>
                            <div class="col">
                                <h6><?= 'Rp. ' . Output::tSparator($data['tagihan_donasi']->jumlah_donasi); ?></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-md-4">Ke Rekening</div>
                            <div class="col d-flex align-items-center gap-3">
                                <img src="<?= $data['tagihan_donasi']->path_gambar_cp; ?>" alt="<?= $data['tagihan_donasi']->nama_cp; ?>" class="img-fluid" style="width: 60px;">
                                <div class="row">
                                    <div class="col d-flex justify-content-between">
                                        <div id="no-rek"><?= $data['tagihan_donasi']->nomor; ?></div>
                                        <div id="myTooltip" class="button fw-bolder text-green copy"
                                            data-target="no-rek" data-bs-title="Rekening Tersalin">Salin</div>
                                    </div>
                                    <div class="col-12"><small id="an"><b>A/N</b> <?= ucwords(strtolower($data['tagihan_donasi']->atas_nama)); ?></small>
                                    </div>
                                </div>
                            </div>
                            <div class="pesan col-12 border-1 rounded-box border-light py-2 bg-light mt-4" style="border-style: solid;">
                                Mohon untuk mengirim bukti tranfer agar dapat melakukan dilakukan akad sesuai dengan syar'i. Akad donasi dapat dilakukan melalui :
                                <div class="row kontak">
                                    <a target="_blank" href="https://bit.ly/pojok-berbagi-indonesia" class="medsos-icon fw-bold text-secondary col-6 col-md-auto">
                                        <i class="lni lni-whatsapp text-secondary"></i> 
                                        <span>0812 1333 1113</span>
                                    </a>
                                    <a target="_blank" href="https://twitter.com/pojok_berbagi" class="medsos-icon fw-bold text-secondary col-6 col-md-auto">
                                        <i class="lni lni-twitter-filled text-secondary"></i> 
                                        <span>pojok_berbagi</span>
                                    </a>
                                    <a target="_blank" href="https://instagram.com/pojokberbagi.id" class="medsos-icon fw-bold text-secondary col-6 col-md-auto">
                                        <i class="lni lni-instagram-filled text-secondary"></i> 
                                        <span>pojokberbagi.id</span>
                                    </a>
                                </div>
                            </div>
                            <?php if (isset($data['bantuan']->tanggal_akhir)) { ?>
                                <div class="pesan col-12 border-1 rounded-box border-orange py-2 bg-orange mt-4 text-white" style="border-style: solid;">
                                    Transfer sebelum tanggal <b><?= $data['tagihan_donasi']->max_pembayaran; ?></b> atau donasi anda otomatis dibatalkan
                                    oleh sistem.
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5 pb-5">
            <div class="col-12 col-md-9 col-lg-6">
                <div class="row align-item-center bg-white shadow-lg p-3 rounded-box g-3">
                    <h6>Petunjuk Pembayaran</h6>
                    <div class="col-12">
                        <div class="accordion accordion-flush" id="accordionFlush">
                            <div class="accordion-item">
                                <div class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed p-2 p-md-3" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                        Transfer ATM
                                    </button>
                                </div>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
                                    <div class="accordion-body px-2 py-0 px-md-3">
                                        <small>
                                            <ol class="list-group list-group-flush list-group-numbered">
                                                <li class="list-group-item px-0">
                                                    <span>Masukkan kartu ATM dan PIN kartu ATM anda.</span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Pilih menu Transfer.</span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Pilih <span class="text-primary text-uppercase">sesama bank</span> jika kartu atm anda adalah <?= $data['tagihan_donasi']->nama_cp; ?>, pilih <span class="text-danger text-uppercase">bank lain.</span> jika kartu atm anda adalah bank lain.</span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Masukkan no rekening <b><?= $data['tagihan_donasi']->nomor; ?></b> jika anda adalah nasabah <?= $data['tagihan_donasi']->nama_cp; ?>, dan jika anda bukan nasabah <?= $data['tagihan_donasi']->nama_cp; ?> masukan <span class="text-danger">kode transfer bank</span> dan <span class="text-dark">nomor rekening tujuan</span> <span class="text-danger fw-bold"><?= $data['tagihan_donasi']->kode; ?></span><b><?= $data['tagihan_donasi']->nomor; ?></b></span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Masukan Nominal Transaksi <b class="text-primary"><span><?= 'Rp. ' . Output::tSparator($data['tagihan_donasi']->jumlah_donasi); ?></span></b></span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Cek Nominal dan Atas Nama Rekening Tujuan <b><?= ucwords(strtolower($data['tagihan_donasi']->atas_nama)); ?>.</b></span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Pilih "<b>Ya</b>" jika sudah benar.</span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Pilih "<b>Tidak</b>" untuk tidak melanjutkan transaksi lain.</span>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <span>Jangan lupa ambil kartu ATM anda dan bukti transaksi.</span>
                                                </li>
                                            </ol>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content -->