<div class="row mb-4">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-md">
                        <div class="heading m-0">overview</div>
                        <div class="text-black-50 small"
                            data-id-bantuan="<?= $this->data['detil_bantuan']->id_bantuan; ?>">
                            <?= $this->data['detil_bantuan']->nama; ?>
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="small d-flex gap-x-1 justify-content-between flex-md-column status align-items-end">
                            <span>
                                Telah
                                <span
                                    class="font-weight-bold <?= Utility::statusBantuanClassTextColor($this->data['detil_bantuan']->status)['class']; ?>">
                                    <?= Utility::statusBantuanClassTextColor($this->data['detil_bantuan']->status)['text']; ?>
                                </span>
                            </span>
                            <span class="text-lowercase badge badge-primary px-2">
                                <?= $this->data['detil_bantuan']->telah_dikelola_selama; ?>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <img src="<?= $this->data['detil_bantuan']->path_gambar_wide; ?>"
                    alt="<?= 'Gambar ' . $this->data['detil_bantuan']->nama_gambar_wide; ?>"
                    class="img-fluid d-none d-md-flex">
                <img src="<?= $this->data['detil_bantuan']->path_gambar_medium; ?>"
                    alt="<?= 'Gambar ' . $this->data['detil_bantuan']->nama_gambar_medium; ?>"
                    class="img-fluid d-flex d-md-none">
            </div>
            <div class="table-responsive p-0">
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <td class="font-weight-bold">Id Donasi</td>
                            <td class="font-weight-bold">Donatur</td>
                            <td class="font-weight-bold">Nominal (Rp)</td>
                        </tr>
                    </thead>
                    <tbody <?=(isset($this->data['limit']) ? 'data-limit="'. $this->data['limit'] .'"' : '') ?>>
                        <?php 
                            if (isset($this->data['donasi_bantuan'])) {
                                foreach($this->data['donasi_bantuan'] as $donasiBantuan) {
                                    ?>
                        <tr>
                            <td class="py-2">
                                <a href="#" class="id-donasi text-primary font-weight-bolder">
                                    <?= $donasiBantuan->id_donasi; ?>
                                </a>
                                <div class="time small text-black-50 font-weight-bold">
                                    <?= $donasiBantuan->waktu_bayar; ?>
                                </div>
                            </td>
                            <td class="py-2">
                                <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3"
                                        data-id-donatur="<?= $donasiBantuan->id_donatur; ?>">
                                        <img alt="<?= $donasiBantuan->nama_path_gambar_akun; ?>"
                                            src="<?= $donasiBantuan->path_gambar_akun; ?>">
                                    </a>
                                    <div class="media-body">
                                        <div class="name mb-0 text-black-50 font-weight-bolder">
                                            <?= ucwords(strtolower($donasiBantuan->nama_donatur ?? 'Hamba Allah')); ?>
                                        </div>
                                        <div class="small text-black-50 font-weight-bold">
                                            <span class="kontak">
                                                <?= ($donasiBantuan->kontak ?? ((is_null($donasiBantuan->kontak) && is_null($donasiBantuan->email)) ? 'Tanpa Kontak dan Email' : '')); ?>
                                            </span>
                                            <span class="email">
                                                <?= $donasiBantuan->email; ?>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="py-2">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <div class="name mb-0 text-black-50 font-weight-bolder">
                                            <?= $donasiBantuan->jumlah_donasi; ?>
                                        </div>
                                        <div class="small text-muted font-weight-bold">
                                            <?= Utility::keteranganJenisChannelPayment($donasiBantuan->jenis); ?>
                                            <?= (!is_null($donasiBantuan->flip) ? '<span class="badge badge-warning">'. $donasiBantuan->flip .'</span>':''); ?>
                                        </div>
                                    </div>
                                    <div class="avatar rounded ml-3 bg-transparent border"
                                        data-id-cp="<?= $donasiBantuan->id_cp; ?>">
                                        <img src="<?= $donasiBantuan->path_gambar_cp; ?>"
                                            alt="<?= $donasiBantuan->nama_path_gambar_cp; ?>" class="img-fluid">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <?php
                                }
                            } else {
                                Ui::tableIsNull(3,'Donasi');
                            }
                        ?>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row align-items-center gap-y-3">
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cari.." name="search"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="pagination justify-content-center justify-content-md-end mb-0"
                            data-pages="<?= $this->data['pages']; ?>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row gap-y-5" id="cp-list">
            <!-- Channel Payment Col Card -->
            <div class="col-12 col-md-6 col-lg-12 card">
                <div class="rounded p-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <b>Saldo</b>
                            <span class="text-muted">
                                <?= Output::tSparator($this->data['saldo_bantuan']->saldo_bsi); ?>
                            </span>
                        </div>
                        <div class="col-3">
                            <img src="<?= $this->data['saldo_bantuan']->path_gambar_bsi; ?>" alt="BSI"
                                class="img-fluid saldo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 card">
                <div class="rounded p-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <b>Saldo</b>
                            <span class="text-muted">
                                <?= Output::tSparator($this->data['saldo_bantuan']->saldo_bri); ?>
                            </span>
                        </div>
                        <div class="col-3">
                            <img src="<?= $this->data['saldo_bantuan']->path_gambar_bri; ?>" alt="BRI"
                                class="img-fluid saldo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 card">
                <div class="rounded p-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <b>Saldo</b>
                            <span class="text-muted">
                                <?= Output::tSparator($this->data['saldo_bantuan']->saldo_mandiri); ?>
                            </span>
                        </div>
                        <div class="col-3">
                            <img src="<?= $this->data['saldo_bantuan']->path_gambar_mandiri; ?>" alt="Mandiri"
                                class="img-fluid saldo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 card">
                <div class="rounded p-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <b>Saldo</b>
                            <span class="text-muted">
                                <?= Output::tSparator($this->data['saldo_bantuan']->saldo_gopay); ?>
                            </span>
                        </div>
                        <div class="col-3">
                            <img src="<?= $this->data['saldo_bantuan']->path_gambar_gopay; ?>" alt="Gopay"
                                class="img-fluid saldo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 card">
                <div class="rounded p-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <b>Saldo</b>
                            <span class="text-muted">
                                <?= Output::tSparator($this->data['saldo_bantuan']->saldo_dana); ?>
                            </span>
                        </div>
                        <div class="col-3">
                            <img src="<?= $this->data['saldo_bantuan']->path_gambar_dana; ?>" alt="Dana"
                                class="img-fluid saldo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 card">
                <div class="rounded p-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <b>Saldo</b>
                            <span class="text-muted">
                                <?= Output::tSparator($this->data['saldo_bantuan']->saldo_shopeepay); ?>
                            </span>
                        </div>
                        <div class="col-3">
                            <img src="<?= $this->data['saldo_bantuan']->path_gambar_shopeepay; ?>" alt="ShopeePay"
                                class="img-fluid saldo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 card bg-transparent">
                <div class="row flex-column">
                    <div class="col">
                        <div class="bg-white rounded p-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <b>Saldo</b>
                                    <span class="text-muted">
                                        <?= Output::tSparator($this->data['saldo_bantuan']->saldo_bjb); ?>
                                    </span>
                                </div>
                                <div class="col-3">
                                    <img src="<?= $this->data['saldo_bantuan']->path_gambar_bjb; ?>" alt="BJB"
                                        class="img-fluid saldo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-white rounded p-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <b>Saldo</b>
                                    <span class="text-muted">
                                        <?= Output::tSparator($this->data['saldo_bantuan']->saldo_tunai); ?>
                                    </span>
                                </div>
                                <div class="col-3">
                                    <img src="<?= $this->data['saldo_bantuan']->path_gambar_tunai; ?>" alt="TUNAI CR"
                                        class="img-fluid saldo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-white rounded p-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <b>Saldo</b>
                                    <span class="text-muted">
                                        <?= Output::tSparator($this->data['saldo_bantuan']->saldo_flip); ?>
                                    </span>
                                </div>
                                <div class="col-3">
                                    <img src="<?= $this->data['saldo_bantuan']->path_gambar_flip; ?>" alt="Flip"
                                        class="img-fluid saldo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 card summary justify-content-between">
                <div class="card-header border-0">
                    <div class="heading">
                        donasi
                    </div>
                    <div class="row">
                        <div class="col-6">Total Masuk</div>
                        <div class="col-6 text-right">
                            <?= Output::tSparator($this->data['detil_bantuan']->total_donasi); ?>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-6 small text-muted">Total Pencairan/Kali</div>
                        <div class="col-6 small text-right"><span class="pencairan">
                                <?= Output::tSparator($this->data['detil_bantuan']->total_donasi_disalurkan); ?>
                            </span>/<span class="font-weight-bold">
                                <?= $this->data['detil_bantuan']->sekian_kali_pelaksanaan; ?>
                            </span></div>
                    </div>
                </div>
                <div class="card-footer bg-gradient-info text-white">
                    <b>Total Saldo <span class="float-right">
                            <?= Output::tSparator($this->data['detil_bantuan']->saldo_donasi); ?>
                        </span></b>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Toast -->
<div aria-live="polite" aria-atomic="true" style="bottom: 1em; right: 1em;"
    class="position-fixed d-flex justify-content-end flex-column align-items-end">
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div class="small-box rounded bg-danger p-2 ailgn-items-center"></div>
            <strong class="mr-auto">Belum Ada Judul Toast</strong>
            <small class="text-muted time-passed">Beberapa saat yang lalu</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Belum ada pesan toast
        </div>
    </div>
</div>