<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header p-3 px-md-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Ubah Program</h3>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 py-md-0">
                <div class="row m-0 mx-md--2 pb-md-2">
                    <div class="px-0 p-md-3 col-12 col-md-4 col-lg-3 overflow-hidden border-md-right">
                        <div class="nav flex-md-column flex-row flex-nowrap nav-pills steps" id="v-pills-tab"
                            role="tablist" aria-orientation="vertical" data-translate-x="0">
                            <a class="col-5 d-flex flex-column col-md step nav-link shadow-none p-2 disabled active"
                                id="v-pills-tahap-1-tab" data-toggle="pill" href="#v-pills-tahap-1" role="tab"
                                aria-controls="v-pills-tahap-1" aria-selected="true">
                                <h6 class="heading-small mb-2 p-0"><span>Tahap 1</span></h6>
                                <b>Informasi Program</b>
                            </a>
                            <a class="col-5 d-flex flex-column col-md step nav-link shadow-none p-2 disabled"
                                id="v-pills-tahap-2-tab" data-toggle="pill" href="#v-pills-tahap-2" role="tab"
                                aria-controls="v-pills-tahap-2" aria-selected="false">
                                <h6 class="heading-small mb-2 p-0"><span>Tahap 2</span></h6>
                                <b>Deskripsi Program</b>
                            </a>
                            <a class="col-5 d-flex flex-column col-md step nav-link shadow-none p-2 disabled"
                                id="v-pills-tahap-3-tab" data-toggle="pill" href="#v-pills-tahap-3" role="tab"
                                aria-controls="v-pills-tahap-3" aria-selected="false">
                                <h6 class="heading-small mb-2 p-0"><span>Tahap 3</span></h6>
                                <b>Kebutuhan Program</b>
                            </a>
                            <a class="col-5 d-flex flex-column col-md step nav-link shadow-none p-2 disabled"
                                id="v-pills-tahap-4-tab" data-toggle="pill" href="#v-pills-tahap-4" role="tab"
                                aria-controls="v-pills-tahap-4" aria-selected="false">
                                <h6 class="heading-small mb-2 p-0"><span>Tahap 4</span></h6>
                                <b>Gambar Program</b>
                            </a>
                        </div>
                    </div>
                    <div class="px-0 p-md-3 col-12 col-md">
                        <form action="/admin/bantuan/update" method="post" autocomplete="off" class="tab-content"
                            id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-tahap-1" role="tabpanel"
                                aria-labelledby="v-pills-tahap-1-tab">
                                <h6 class="heading-small text-muted">Informasi Program</h6>
                                <p class="text-muted small"><strong>Informasi program</strong> berisikan tentang data
                                    program bantuan yang akan dilihat oleh pengguna, dan bersifat <span
                                        class="text-danger">wajib</span> untuk diisi.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group" id="nama">
                                                    <label class="form-control-label" for="input-nama-program">Judul
                                                        Bantuan</label>
                                                    <input spellcheck="false" type="text" id="input-nama-program"
                                                        class="form-control" placeholder="Nama Campaign" name="nama"
                                                        data-required="true" <?=(isset($this->data['bantuan']->nama) ? '
                                                    value="'. $this->data['bantuan']->nama .'"' : '') ?> maxlength="50">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group" id="nama_penerima">
                                                    <label class="form-control-label"
                                                        for="input-penerima-program">Penerima Bantuan</label>
                                                    <input spellcheck="false" type="text" id="input-penerima-program"
                                                        class="form-control" placeholder="Nama penerima / Kelompok / Entitas"
                                                        name="nama_penerima"
                                                        <?=(isset($this->data['bantuan']->nama_penerima) ?
                                                    'data-required="true" value="'.
                                                    $this->data['bantuan']->nama_penerima .'"' : '') ?> maxlength="50">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" id="id_kategori">
                                            <label class="form-control-label" for="input-kategori-bantuan">Kategori
                                                Program</label>
                                            <select class="form-control" id="input-kategori-bantuan" name="id_kategori"
                                                data-selected-value="<?= $this->data['bantuan']->id_kategori; ?>">
                                                <?php
                                                    if (isset($data['kategori_bantuan'])) {
                                                        echo '<option></option>';
                                                        foreach($data['kategori_bantuan'] as $dataKategori) {
                                                            echo '<option value="'. $dataKategori->id_kategori .'">' . $dataKategori->nama . '</option>';
                                                        }
                                                    }
                                                ?>
                                            </select>
                                        </div>
                                        <div class="form-group" id="id_sektor">
                                            <label class="form-control-label" for="input-sektor-bantuan">Sektor
                                                Program</label>
                                            <select class="form-control" id="input-sektor-bantuan" name="id_sektor"
                                                data-selected-value="<?= $this->data['bantuan']->id_sektor; ?>">
                                                <?php
                                                    if (isset($data['sektor_bantuan'])) {
                                                        echo '<option></option>';
                                                        foreach($data['sektor_bantuan'] as $sektorKategori) {
                                                            echo '<option value="'. $sektorKategori->id_sektor .'">' . $sektorKategori->nama . '</option>';
                                                        }
                                                    }
                                                ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 buttons">
                                        <button type="reset" class="btn btn-link text-danger m-0">Reset</button>
                                        <button type="button" class="btn btn-outline-primary next"
                                            data-target="v-pills-tahap-2-tab">Selanjutnya</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-tahap-2" role="tabpanel"
                                aria-labelledby="v-pills-tahap-2-tab">
                                <h6 class="heading-small text-muted">Deskripsi Program</h6>
                                <p class="text-muted small"><strong>Deskripsi program</strong> menjelaskan secara
                                    singkat tentang program bantuan yang akan dibuat dan bersifat <span
                                        class="text-danger">wajib</span> untuk diisi</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pb-lg-6">
                                            <div class="input-group" id="deskripsi">
                                                <div class="input-group-prepend align-content-around position-relative">
                                                    <label
                                                        class="input-group-text align-items-start form-control-label">Deskripsi
                                                        singkat</label>
                                                    <small class="text-gray position-absolute"
                                                        id="charLeft">0/255</small>
                                                </div>
                                                <textarea spellcheck="false" minlength="50" maxlength="255"
                                                    data-required="true" class="form-control textarea w-100"
                                                    aria-label="With textarea" name="deskripsi"
                                                    placeholder="Ketik disini..."><?= (isset($this->data['bantuan']->deskripsi) ? $this->data['bantuan']->deskripsi : '') ?></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 buttons">
                                        <button type="button" class="btn btn-link text-warning m-0"
                                            data-target="v-pills-tahap-1-tab">Kembali Ke Tahap 1</button>
                                        <button type="button" class="btn btn-outline-primary next"
                                            data-target="v-pills-tahap-3-tab">Selanjutnya</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-tahap-3" role="tabpanel"
                                aria-labelledby="v-pills-tahap-3-tab">
                                <h6 class="heading-small text-muted">Kebutuhan Program</h6>
                                <p class="text-muted small"><strong>Kebutuhan program</strong> berisikan rincian
                                    kebutuhan dari bantuan yang akan dibuat dan bersifat tidak wajib untuk diisi. Namun
                                    demikian mohon untuk melihat <a href="javascript:;"
                                        data-target="#penjelasanKebutuhan" data-toggle="modal"
                                        role="button"><strong><u>penjelasan berikut</u></strong></a>, apa yang akan
                                    terjadi jika tidak diisi.</p>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group" id="jumlah_target">
                                            <label class="form-control-label" for="input-jumlah-target">Jumlah
                                                Target</label>
                                            <input type="text" id="input-jumlah-target" class="form-control"
                                                name="jumlah_target" <?=(isset($this->data['bantuan']->jumlah_target) ?
                                            ' value="'. Output::tSparator($this->data['bantuan']->jumlah_target) .'"' :
                                            '') ?>
                                            <?= (isset($this->data['min_jumlah_target']) ? ' data-min="'. $this->data['min_jumlah_target'] .'" placeholder="'. Output::tSparator($this->data['min_jumlah_target']) .'"' : ' placeholder="Tanpa Batas"') ?>
                                            >
                                        </div>
                                    </div>
                                    <div class="col-lg-6 d-none">
                                        <div class="form-group" id="satuan_target">
                                            <label class="form-control-label" for="input-satuan-target">Satuan
                                                Target</label>
                                            <input spellcheck="false" type="text" id="input-satuan-target"
                                                class="form-control" placeholder="Donasi/Paket/dll.."
                                                name="satuan_target" <?=(isset($this->data['bantuan']->satuan_target) ?
                                            ' value="'. $this->data['bantuan']->satuan_target .'"' : '') ?>
                                            maxlength="15">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" id="min_donasi">
                                            <label class="form-control-label" for="input-min-donasi">Minimal
                                                Donasi</label>
                                            <input spellcheck="false" type="text" id="input-min-donasi"
                                                class="form-control" placeholder="Rp. 10.000" name="min_donasi"
                                                <?=(isset($this->data['bantuan']->min_donasi) ? ' value="Rp. '.
                                            Output::tSparator($this->data['bantuan']->min_donasi) .'"' : '') ?>>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group" id="lama_penayangan">
                                            <label class="form-control-label" for="input-lama-penayangan">Lama Waktu
                                                Buka
                                                Donasi</label>
                                            <input data-max="365" spellcheck="false" type="text"
                                                id="input-lama-penayangan" class="form-control"
                                                placeholder="Tanpa Batas" name="lama_penayangan"
                                                <?=(isset($this->data['bantuan']->lama_penayangan) ? ' value="'.
                                            $this->data['bantuan']->lama_penayangan.' hari"' : '') ?>>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" id="total_rab">
                                            <label class="form-control-label" for="input-rab">Nominal
                                                Kebutuhan</label>
                                            <input spellcheck="false" type="text" id="input-rab" class="form-control"
                                                placeholder="Tanpa RAB" name="total_rab"
                                                <?=(isset($this->data['bantuan']->total_rab) ? ' value="Rp. '.
                                            Output::tSparator($this->data['bantuan']->total_rab) .'"' : '') ?>>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-start buttons">
                                        <button type="button" class="btn btn-link text-warning m-0"
                                            data-target="v-pills-tahap-2-tab">Kembali Ke Tahap 2</button>
                                        <button type="button" class="btn btn-outline-primary next"
                                            data-target="v-pills-tahap-4-tab">Selanjutnya</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-tahap-4" role="tabpanel"
                                aria-labelledby="v-pills-tahap-4-tab">
                                <h6 class="heading-small text-muted">Gambar Program</h6>
                                <p class="text-muted small"><strong>Gambar program</strong> berfungsi sebagai ilustrasi
                                    bantuan yang akan ditampilkan kepada pengguna dan bersifat <span
                                        class="text-danger">wajib</span> untuk diisi. (aspek rasio <span
                                        class="font-weight-bold">16:9</span>) dengan seminimalnya berdimensi 1280 x 768
                                    pixel untuk <span class="font-italic">device</span> lebar layar tablet ke bawah,
                                    sementara (aspek rasio <span class="font-weight-bold">468:139</span>) dengan
                                    seminimalnya berdimensi 1296 x 386 pixel untuk <span
                                        class="font-italic">device</span> jenis <span
                                        class="font-italic">widescreen</span>.</p>
                                <div class="row gap-y-3">
                                    <div class="col-12 col-lg">
                                        <?php
                                        if (isset($this->data['bantuan']->path_gambar_medium)) {
                                            $file = explode('/', $this->data['bantuan']->path_gambar_medium); 
                                            $file_medium = end($file);
                                        }
                                        ?>
                                        <div data-target="#imgCanvasCropper" role="button"
                                            class="form-group inputGroup input-file border rounded p-3 bg-lighter border-light d-flex align-items-center justify-content-between"
                                            <?=(isset($this->data['bantuan']->path_gambar_medium) ? '
                                            data-file-passed="true"' : '') ?>>
                                            <input accept="image/*" type="file" name="card_img" id="card_img"
                                                class="file"
                                                title="<?= (isset($this->data['bantuan']->path_gambar_medium) ? 'Ganti gambar '. $file_medium .'?' : 'Belum ada file terpilih') ?>">
                                            <label for="card_img" class="desc text-black-50 d-flex flex-column m-0">
                                                <span class="rule">Dimensi 1280 x 768 pixel (16:9)</span>
                                                <small class="result">
                                                    <span class="name">
                                                        <?php
                                                            if (isset($file_medium)) {
                                                                echo $file_medium;
                                                            }
                                                        ?>
                                                    </span>
                                                    <span class="size"></span>
                                                </small>
                                            </label>
                                            <i class="ni ni-image"></i>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg">
                                        <?php 
                                        if (isset($this->data['bantuan']->path_gambar_wide)) {
                                            $file = explode('/', $this->data['bantuan']->path_gambar_wide); 
                                            $file_wide = end($file);
                                        }
                                        ?>
                                        <div data-target="#imgCanvasCropper" role="button"
                                            class="form-group inputGroup input-file border rounded p-3 bg-lighter border-light d-flex align-items-center justify-content-between"
                                            <?=(isset($this->data['bantuan']->path_gambar_wide) ? '
                                            data-file-passed="true"' : '') ?>>
                                            <input accept="image/*" type="file" name="wide_img" id="wide_img"
                                                class="file"
                                                title="<?= (isset($this->data['bantuan']->path_gambar_wide) ? 'Ganti gambar '. $file_wide .'?' : 'Belum ada file terpilih') ?>">
                                            <label for="wide_img" class="desc text-black-50 d-flex flex-column m-0">
                                                <span class="rule">Dimensi 1296 x 386 pixel</span>
                                                <small class="result">
                                                    <span class="name">
                                                        <?php
                                                            if (isset($file_wide)) {
                                                                echo $file_wide;
                                                            }
                                                        ?>
                                                    </span>
                                                    <span class="size"></span>
                                                </small>
                                            </label>
                                            <i class="ni ni-image"></i>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="youtube-link-video" class="form-control-label">Id Video Youtube</label>
                                            <input id="youtube-link-video" type="text" name="id_video_youtube" class="form-control" placeholder="Link video Campaign di Youtube atau id video" <?= (isset($this->data['bantuan']->id_video_youtube) ? 'value="'. $this->data['bantuan']->id_video_youtube .'"' : ''); ?>>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2 buttons">
                                        <button type="button" class="btn btn-link text-warning m-0"
                                            data-target="v-pills-tahap-3-tab">Kembali Ke Tahap 3</button>
                                        <button type="submit" class="btn btn-primary"
                                            data-id-bantuan="<?= $this->data['bantuan']->id_bantuan; ?>">Simpan
                                            Perubahan</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade in" id="penjelasanKebutuhan" tabindex="-1" aria-labelledby="penjelasanKebutuhanLabel"
    aria-hidden="true" role="dialog">
    <div class="modal-dialog fullscreen modal-dialog-centered" role="document">
        <div class="modal-content justify-content-center align-items-center scaleIn">
            <div class="container p-0 py-md-3 py-lg-5 px-lg-3">
                <div class="modal-header px-4">
                    <h5 class="modal-title text-primary" id="penjelasanKebutuhanLabel">Penjelasan Kebutuhan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-4">
                    <small>
                        <dl class="row">
                            <dt class="col-sm-2 align-self-end">#</dt>
                            <dt class="col align-self-end text-center">Penjelasan</dt>
                            <dl class="col-7 row m-0">
                                <dt class="col-12 text-center">Kondisi</dt>
                                <dt class="col text-center">Diisi</dt>
                                <dt class="col text-center">Dikosongkan</dt>
                            </dl>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Jumlah Target</dt>
                            <dt class="col"><span class="font-weight-300">Batasan jumlah target dari bantuan yang akan
                                    disalurkan.</span></dt>
                            <dl class="col-7 row m-0">
                                <dt class="col"><span class="font-weight-300">Bantuan akan memiliki bantasan jumlah
                                        target untuk disalurkan. <b>Jika program sudah berjalan maka jumlah target
                                            minimum adalah jumlah target yang telah dilaksanakan.</b></span></dt>
                                <dt class="col"><span class="font-weight-300">Tanpa adanya batasan jumlah target yang
                                        akan dilaksanakan.</span></dt>
                            </dl>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Satuan Target</dt>
                            <dt class="col"><span class="font-weight-300">Jika jumlah target diisi maka satuan target
                                    wajib diisi.</span></dt>
                            <dl class="col-7 row m-0">
                                <dt class="col"><span class="font-weight-300">-</span></dt>
                                <dt class="col"><span class="font-weight-300">Tidak dapat melanjutkan ke tahap
                                        berikutnya, <b>jika jumlah target diisi sementara satuan target tidak
                                            diisi</b>.</span></dt>
                            </dl>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Minimal Donasi</dt>
                            <dt class="col"><span class="font-weight-300">Jumlah minimal donasi yang dapat diterima dari
                                    bantuan yang dibuat.</span></dt>
                            <dl class="col-7 row m-0">
                                <dt class="col"><span class="font-weight-300">Nominal donasi minumum yang dapat donatur
                                        salurkan mengikuti nilai minimal donasi ini.</span></dt>
                                <dt class="col"><span class="font-weight-300">Nominal minimal berdonasi mengikuti
                                        ketentuan kami (yakni <span class="font-weight-bolder">Rp.
                                            10.000</span>).</span></dt>
                            </dl>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Lama Waktu Buka Donasi</dt>
                            <dt class="col"><span class="font-weight-300">Lama waktu penghimpunan dana bantuan.</span>
                            </dt>
                            <dl class="col-7 row m-0">
                                <dt class="col"><span class="font-weight-300">Donasi akan dikumpulkan dalam jangka waktu
                                        tertentu. <strong class="small">(Maks 180 hari *dapat diubah
                                            sewaktu-waktu)</strong></span></dt>
                                <dt class="col"><span class="font-weight-300">Tanpa adanya batasan waktu penghimpunan
                                        donasi.</span></dt>
                            </dl>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Nominal Kebutuhan RAB</dt>
                            <dt class="col"><span class="font-weight-300">Jumlah donasi yang ingin dikumpulkan.</span>
                            </dt>
                            <dl class="col-7 row m-0">
                                <dt class="col"><span class="font-weight-300">Akan adanya batasan jumlah donasi yang
                                        dapat dikumpulkan.</span></dt>
                                <dt class="col"><span class="font-weight-300">Tanpa adanya batasan jumlah donasi yang
                                        dapat dikumpulkan.</span></dt>
                            </dl>
                        </dl>
                    </small>
                </div>
                <div class="modal-footer px-4">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Paham</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="imgCanvasCropper" tabindex="-1" aria-labelledby="imgCanvasCropperLabel"
    aria-hidden="true" role="dialog">
    <div class="modal-dialog fullscreen modal-dialog-centered" role="document">
        <div class="modal-content justify-content-center align-items-center scaleIn">
            <div class="container p-0 py-md-3 py-lg-5 px-lg-3">
                <div class="row justify-content-center">
                    <div class="col col-md-7">
                        <div class="modal-header px-4">
                            <div class="modal-title text-primary" id="imgCanvasCropperLabel">Canvas Gambar <span
                                    class="text-orange"></span></div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body py-0 px-4">
                            <div class="img-wrapper rounded overflow-hidden justify-content-center d-flex">
                                <img src="" class="img-fluid rounded-box" id="image">
                            </div>
                        </div>
                        <div class="modal-footer px-4 justify-content-center">
                            <button type="button" class="btn btn-outline-primary">Crop</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Toast -->
<div aria-live="polite" aria-atomic="true" style="bottom: 1em; right: 1em;"
    class="position-fixed d-flex justify-content-end flex-column align-items-end toast-container">
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-toast="card_img">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div class="small-box rounded bg-danger p-2 ailgn-items-center"></div>
            <strong class="mr-auto">Peringatan</strong>
            <small class="text-muted time-passed">Beberapa detik yang lalu</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Ukuran file terlalu besar
        </div>
    </div>
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-toast="wide_img">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div class="small-box rounded bg-danger p-2 ailgn-items-center"></div>
            <strong class="mr-auto">Peringatan</strong>
            <small class="text-muted time-passed">Beberapa detik yang lalu</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Ukuran file terlalu besar
        </div>
    </div>
</div>