<div class="row">
    <div class="col-xl-8 order-xl-1">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Ubah Data Program</h3>
                    </div>
                </div>
            </div>
            <?php if (Session::exists('error_feedback')) {
                $data_error_feedback = Session::flash('error_feedback');
            } ?>
            <div class="card-body">
                <form action="/admin/bantuan/update/<?= $data['bantuan']->id_bantuan ?>" method="post" autocomplete="off">
                    <input type="hidden" name="id_bantuan" value="<?= $data['bantuan']->id_bantuan ?>">
                    <h6 class="heading-small text-muted mb-4">Informasi Bantuan</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" id="nama">
                                    <label class="form-control-label" for="input-nama-banuan">Nama Bantuan</label>
                                    <input spellcheck="false" type="text" id="input-nama-banuan" class="form-control" placeholder="Contoh <?= $data['bantuan']->nama ?>" name="nama" value="<?= isset($data_error_feedback['nama']['value']) ? $data_error_feedback['nama']['value'] : $data['bantuan']->nama; ?>">
                                    <?= (!empty($data_error_feedback['nama']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['nama']['feedback'] . '</div>' : '') ?>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" id="id_jenis">
                                    <label class="form-control-label" for="input-jenis-bantuan">Jenis Program</label>
                                    <select class="form-control" id="input-jenis-bantuan" name="id_jenis" value="<?= $data['bantuan']->id_jenis ?>">
                                        <?php foreach($this->data['jenis_bantuan'] as $dataJenis) { 
                                            if ($dataJenis->layanan == 'S') {
                                                $layanan = 'Sosial';
                                            } elseif ($dataJenis->layanan == 'E') {
                                                $layanan = 'Ekonomi';
                                            } elseif ($dataJenis->layanan == 'D') {
                                                $layanan = 'Bencana';
                                            } elseif ($dataJenis->layanan == 'K') {
                                                $layanan = 'Kesehatan';
                                            } elseif ($dataJenis->layanan == 'P') {
                                                $layanan = 'Pendidikan';
                                            }
                                            $selected = '';

                                            if ($dataJenis->layanan == $data['bantuan']->layanan) {
                                                $selected = 'selected';
                                            }
                                        ?>
                                        <option <?= $selected ?> value="<?= $dataJenis->id_jenis ?>">
                                            <?= $dataJenis->nama . ' ('. $layanan .')' ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" id="jumlah_target">
                                    <label class="form-control-label" for="input-jumlah-target">Jumlah Target</label>
                                    <input data-min="<?= (!is_null($this->data['min_jumlah_target']) ? $this->data['min_jumlah_target'] : 0) ?>" type="text" id="input-jumlah-target" class="form-control" placeholder="<?= (!is_null($this->data['min_jumlah_target']) ? Output::tSparator($this->data['min_jumlah_target']) : 'Unlimited') ?>" name="jumlah_target" value="<?= isset($data_error_feedback['jumlah_target']['value']) ? ($data_error_feedback['jumlah_target']['value'] == 0 ? '' : $data_error_feedback['jumlah_target']['value']) : (is_null($data['bantuan']->jumlah_target) ? '' : Output::tSparator($data['bantuan']->jumlah_target)); ?>">
                                    <?= (!empty($data_error_feedback['jumlah_target']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['jumlah_target']['feedback'] . ($data_error_feedback['jumlah_target']['rule'] == 'min_value' ? ' ' . Output::tSparator($this->data['min_jumlah_target']) . ' yang sudah dilaksanakan' : '') . '</div>' : '') ?>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" id="satuan_target">
                                    <label class="form-control-label" for="input-satuan-target">Satuan Target</label>
                                    <input spellcheck="false" type="text" id="input-satuan-target" class="form-control" placeholder="Orang/Donasi/Paket" name="satuan_target" value="<?= isset($data_error_feedback['satuan_target']['value']) ? $data_error_feedback['satuan_target']['value'] : $data['bantuan']->satuan_target; ?>">
                                    <?= (!empty($data_error_feedback['satuan_target']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['satuan_target']['feedback'] . '</div>' : '') ?>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" id="total_rab">
                                    <label class="form-control-label" for="input-rab">Nominal Kebutuhan</label>
                                    <input spellcheck="false" type="text" id="input-rab" class="form-control" placeholder="Unlimited" name="total_rab" value="<?= isset($data_error_feedback['total_rab']['value']) ? $data_error_feedback['total_rab']['value'] : (isset($data['bantuan']->total_rab) ? 'Rp. '. Output::tSparator($data['bantuan']->total_rab) : '') ?>">
                                    <?= (!empty($data_error_feedback['total_rab']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['total_rab']['feedback'] . '</div>' : '') ?>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" id="min_donasi">
                                    <label class="form-control-label" for="input-min-donasi">Minimal Donasi</label>
                                    <input spellcheck="false" type="text" id="input-min-donasi" class="form-control" placeholder="Tanpa Batas" name="min_donasi" value="<?= isset($data_error_feedback['min_donasi']['value']) ? $data_error_feedback['min_donasi']['value'] : (isset($data['bantuan']->min_donasi) ? 'Rp. '. Output::tSparator($data['bantuan']->min_donasi) : '') ?>">
                                    <?= (!empty($data_error_feedback['min_donasi']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['min_donasi']['feedback'] . '</div>' : '') ?>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-tag-donasi">Tag Donasi</label>
                                    <input data-role="tagsinput" type="text" id="input-tag-donasi" class="form-control" placeholder="Rp. 0" name="tag_donasi" value="<?= isset($data_error_feedback['tag_donasi']['value']) ? $data_error_feedback['tag_donasi']['value'] : ''; ?>">
                                    <div class="<?= 'invalid-feedback px-2 py-1 font-weight-bold' . (!empty($data_error_feedback['tag_donasi']) ? ' d-block' : '') ?>"><?= ($data_error_feedback['tag_donasi']['feedback']) ?></div>
                                </div>
                            </div>
                        </div> -->
                        <!-- Date -->
                        <div class="row">
                            <div class="col">
                                <div class="form-group" id="lama_penayangan">
                                    <label class="form-control-label" for="input-lama-penayangan">Lama Waktu Buka Donasi</label>
                                    <input data-max="365" spellcheck="false" type="text" id="input-lama-penayangan" class="form-control" placeholder="Tanpa Batas" name="lama_penayangan" <?= !empty($data_error_feedback['lama_penayangan']['value']) ? 'value="' . $data_error_feedback['lama_penayangan']['value'] .'"' : (!empty($data['bantuan']->lama_penayangan) ? 'value="Rp. '. Output::tSparator($data['bantuan']->lama_penayangan) . '"' : '') ?>>
                                    <?= (!empty($data_error_feedback['lama_penayangan']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['lama_penayangan']['feedback'] . '</div>' : '') ?>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="input-daterange datepicker row align-items-stretch">
                            <div class="col">
                                <div class="form-group" id="tanggal_awal">
                                    <label for="tanggal-awal" class="form-control-label">Tanggal Mulai</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Pengalangan Dana Contoh <?= $data['bantuan']->tanggal_awal ?>" type="text" name="tanggal_awal" id="tanggal-awal" value="<?= (isset($data['bantuan']->tanggal_awal) ? Output::timeToLocal($data['bantuan']->tanggal_awal) : '') ?>">
                                        <?= (!empty($data_error_feedback['tanggal_awal']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['tanggal_awal']['feedback'] . '</div>' : '') ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="tanggal-akhir" class="form-control-label">Tanggal Akhir</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Penggalangan Dana" type="text" name="tanggal_akhir" id="tanggal-akhir" value="<?= (isset($data['bantuan']->tanggal_akhir) ? Output::timeToLocal($data['bantuan']->tanggal_akhir) : '') ?>">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <h6 class="heading-small text-muted mb-4">Deskripsi Program</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group" id="deskripsi">
                                        <div class="input-group-prepend align-content-around position-relative">
                                            <span class="input-group-text align-items-start">Deskripsi Singkat</span>
                                            <small class="text-gray position-absolute" id="charLeft"><?= strlen($data['bantuan']->deskripsi) ?>/255</small>
                                        </div>
                                        <textarea spellcheck="false" maxlength="255" class="form-control textarea" aria-label="With textarea" name="deskripsi"><?= isset($data_error_feedback['deskripsi']['value']) ? $data_error_feedback['deskripsi']['value'] : $data['bantuan']->deskripsi ?></textarea>
                                    </div>
                                    <?= (!empty($data_error_feedback['deskripsi']['feedback']) ? '<div class="invalid-feedback px-2 py-1 font-weight-bold d-flex">' . $data_error_feedback['deskripsi']['feedback'] . '</div>' : '') ?>                                    
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12 <?= (isset($data['bantuan']->path_gambar) ? '' : d-none) ?>" id="column-wrapper">
                                <div class="card rounded">
                                    <div id="image-wrapper" class="d-flex justify-content-center">
                                        <img class="rounded img-fluid" src="<?= $data['bantuan']->path_gambar ?>" alt="Gambar Banner" id="image">
                                    </div>
                                    <div class="card footer pb-0 mb-0 shadow-none">
                                        <button type="button" class="btn btn-primary" id="crop">Crop</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="file-gambar">Gambar Banner</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file-gambar" name="file_gambar">
                                        <label class="custom-file-label" for="file-gambar">Pilih file gambar</label>
                                    </div>
                                    <div class="<?= 'invalid-feedback px-2 py-1 font-weight-bold' . (!empty($data_error_feedback['file_gambar']) ? ' d-block' : '') ?>"><?= ($data_error_feedback['file_gambar']['feedback']) ?></div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-secondary" type="reset">Reset</button>
                                <button class="btn btn-icon btn-primary" type="submit">
                                    <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                                    <span class="btn-inner--text">Simpan</span>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="token" value="<?= $data['token'] ?>">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>