<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Jumlah Bantuan</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card"
                            data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-bullet-list-67"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Bulan yang lalu</span>
                </p> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Belum Disetujui</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card"
                            data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan_menunggu']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                            <i class="ni ni-books"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Bulan yang lalu</span>
                </p> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Sedang Berjalan</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card"
                            data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan_aktif']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="ni ni-delivery-fast"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Bulan yang lalu</span>
                </p> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Selesai Diberikan</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card"
                            data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan_selesai']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-light text-white rounded-circle shadow">
                            <i class="ni ni-paper-diploma"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Sejak tahun ini</span>
                </p> -->
            </div>
        </div>
    </div>
</div>
<div class="row justify-center">
    <div class="col">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Kelola Bantuan</h3>
                    </div>
                    <div class="col">
                        <a href="/admin/bantuan/formulir" class="btn btn-primary float-right">Buat Baru</a>
                    </div>
                </div>
            </div>
            <div class="table-striped table-hover">
                <table class="table table-absolute-first">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">Bantuan</th>
                            <th scope="col" class="sort fit" data-sort="budget">Kategori Penerima</th>
                            <th scope="col" class="sort fit" data-sort="jumlah_target">Target</th>
                            <th scope="col" class="sort" data-sort="realisasi">Realisasi</th>
                            <th scope="col" class="sort" data-sort="jumlah_pencairan">Total Pencairan</th>
                            <th scope="col" class="sort" data-sort="donasi_donatur">Donasi Donatur</th>
                            <th scope="col" class="sort fit" data-sort="saldo">Saldo</th>
                            <th scope="col" class="fit"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if (!is_null($data['bantuan'])) {
                            foreach($data['bantuan'] as $data_bantuan) { 
                                $blokir = Utility::blokirClassText($data_bantuan->blokir);
                                $blokUnblock = Utility::blokUnblockClassText($data_bantuan->blokir);
                                $status = Utility::statusBantuanClassTextBadge($data_bantuan->status);
                                $sektorKategori = Utility::imploderArray(array($data_bantuan->nama_sektor, $data_bantuan->nama_kategori));
                            ?>
                        <tr>
                            <td scope="row">
                                <div class="d-flex align-items-start align-items-md-center flex-md-row justify-content-between gap-x-3 flex-column">
                                    <div class="font-weight-bolder overflow-hidden">
                                        <div class="media align-items-center">
                                            <a href="<?= '/admin/bantuan/data/' . $data_bantuan->id_bantuan; ?>" data-id="<?= $data_bantuan->id_bantuan; ?>"
                                                class="d-flex flex-row">
                                                <div class="name mb-0 text-sm d-none">
                                                    <?= $data_bantuan->id_bantuan; ?>
                                                </div>
                                                <div class="m-0" <?=(isset($data_bantuan->warna) ? ' style="color: '.
                                                    $data_bantuan->warna .'"' : ''); ?>>
                                                    <?= Output::decodeEscape($data_bantuan->nama_bantuan); ?>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="text-black-50 small font-weight-bolder">
                                            <?= $data_bantuan->create_bantuan_at; ?>
                                        </div>
                                    </div>
                                    <div class="justify-content-end d-flex">
                                        <div class="media align-items-center gap-x-2 flex-md-column">
                                            <div class="badge badge-dot text-capitalize">
                                                <i class="<?= $blokir['class']; ?> m-0"></i>
                                                <span class="small">
                                                    <?= $blokir['text']; ?>
                                                </span>
                                            </div>
                                            <div class="badge px-2 text-capitalize<?= ' '. $status['class']; ?>">
                                                <?= $status['text']; ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </td>
                            <td class="fit">
                                <div class="d-flex flex-column">
                                    <?= $data_bantuan->nama_penerima; ?>
                                    <div class="text-muted small">
                                        <?= $sektorKategori; ?>
                                    </div>
                                </div>
                            </td>
                            <td class="fit">
                                <b>
                                    <?= $data_bantuan->jumlah_target; ?>
                                </b>
                                <?= (isset($data_bantuan->satuan_target) ? '<div class="text-muted">'. $data_bantuan->satuan_target .'</div>' : ''); ?>
                            </td>
                            <td>
                                <div class="progress-wrapper" style="padding-top: 0px;">
                                    <div class="progress-info">
                                        <div class="progress-label">
                                            <span class="py-2">
                                                <?= number_format($data_bantuan->total_pelaksanaan,0,',','.') ?>
                                            </span>
                                        </div>
                                        <div class="progress-percentage">
                                            <span>
                                                <?= $data_bantuan->persentase_pelaksanaan; ?>%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="progress" style="width: 100%;">
                                        <div class="progress-bar <?= Utility::setProgressClass($data_bantuan->persentase_pelaksanaan); ?>"
                                            role="progressbar"
                                            aria-valuenow="<?= $data_bantuan->persentase_pelaksanaan; ?>"
                                            aria-valuemin="0" aria-valuemax="100" <?='style="width:' . $data_bantuan->
                                            persentase_pelaksanaan . '%"'?>></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="media align-item-center flex-column">
                                    <b>
                                        <?= $data_bantuan->total_penggunaan_donasi; ?>
                                    </b>
                                    <div class="small badge badge-primary text-black-50 text-capitalize font-weight-bolder">
                                        <?= $data_bantuan->sekian_kali_pelaksanaan; ?> Pelaksanaan
                                    </div>
                                </div>
                            </td>
                            <th>
                                <div class="media align-item-center flex-column">
                                    <b class="item">
                                        <?= $data_bantuan->total_donasi; ?>
                                    </b>
                                    <div class="badge badge-primary text-orange text-capitalize">
                                        <?= $data_bantuan->jumlah_donatur; ?> Donatur
                                    </div>
                                </div>
                            </th>
                            <td class="fit">
                                <?= $data_bantuan->saldo_donasi; ?>
                            </td>
                            <td class="text-right fit">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item"
                                            href="/admin/bantuan/data/<?= $data_bantuan->id_bantuan; ?>">Lihat Data</a>
                                        <?php if ($data_bantuan->status != 'S') { ?>
                                        <a class="dropdown-item"
                                            href="/admin/bantuan/formulir/<?= $data_bantuan->id_bantuan; ?>">Ubah
                                            Data</a>
                                        <a class="dropdown-item"
                                            href="javascript:void(0);" data-toggle="modal" data-target="#modalKelolaSelengkapnya">Kelola
                                            Selengkapnya</a>
                                        <a class="dropdown-item font-weight-bold <?= ' '.$blokUnblock['class'];?>"
                                            href="/admin/bantuan/blok/<?= $data_bantuan->id_bantuan; ?>">
                                            <?= $blokUnblock['text']; ?>
                                        </a>
                                        <?php } ?>
                                        <?= ($data_bantuan->status == 'D' ? '<a class="dropdown-item font-weight-bold text-black-50 token-last-param" href="/admin/bantuan/tutup/' . $data_bantuan->id_bantuan .'/'. $this->data['token'] .'">Take Down</a>' : ''); ?>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <?php }} else {
                            Ui::tableIsNull(7,'Bantuan');
                        } ?>
                    </tbody>
                    <tfoot class="tfoot-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">Bantuan</th>
                            <th scope="col" class="sort fit" data-sort="budget">Kategori Penerima</th>
                            <th scope="col" class="sort fit" data-sort="jumlah_target">Target</th>
                            <th scope="col" class="sort" data-sort="realisasi">Realisasi</th>
                            <th scope="col" class="sort" data-sort="jumlah_pencairan">Total Pencairan</th>
                            <th scope="col" class="sort" data-sort="donasi_donatur">Donasi Donatur</th>
                            <th scope="col" class="sort fit" data-sort="saldo">Saldo</th>
                            <th scope="col" class="fit"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <?= Ui::pageing($this->data['halaman'], $this->data['record'], $this->data['limit']); ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal in " id="modalKelolaSelengkapnya" tabindex="-1" role="dialog"
    aria-labelledby="modalKelolaSelengkapnya-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fullscreen" role="document">
        <div class="modal-content justify-content-center align-items-center scaleIn">
            <div class="container p-0 py-md-3 py-lg-5 px-lg-3 px-3 px-md-0">
                <div class="row gap-y-4">
                    <div class="col-12 col-md-6">
                        <div class="form-group position-relative mb-0">
                            <span class="font-weight-bolder position-absolute mt-3">
                                <label for="id-bantuan"
                                    class="form-control-label m-0">Bantuan</label>
                            </span>
                            <select class="custom-select" id="id-bantuan"
                                name="id-bantuan" required>
                                <option value="0" disabled selected hidden>Pilih salah satu</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="input-judul" class="form-control"
                                name="judul" placeholder="Judul" autocomplete="off" maxlength="100">
                            <label for="input-judul" class="form-control-label">Judul</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex gap-4 flex-column" id="wyswyg-area">
                        <div class="row">
                            <div class="col-12">
                                <div class="rounded ql">
                                    <div id="editor">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between" id="actioon-area">
                        <button class="btn btn-link font-weight-bolder text-warning"
                            data-dismiss="modal">Batal</button>
                        <button class="btn btn-outline-primary" id="buat-deskripsi-selengkapnya" type="submit">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<!-- Toast -->
<div aria-live="polite" aria-atomic="true" style="bottom: 1em; right: 1em; z-index: 1050;"
    class="position-fixed d-flex justify-content-end flex-column align-items-end">
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-toast="donasi" data-toast-run="true" data-delay="3000">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div class="small-box rounded p-2 ailgn-items-center bg-danger"></div>
            <strong class="mr-auto">Toast</strong>
            <small class="text-muted time-passed">Time</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">

        </div>
    </div>
    <?php if (Session::exists('toast')) { $toast = Session::flash('toast'); ?>
    <div class="toast w-100 fade hide bg-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-toast="feedback" data-delay="5000" data-toast-run="true">
        <div class="toast-header d-flex gap-x-2 justify-content-center align-items-center">
            <div
                class="small-box rounded p-2 ailgn-items-center <?= ($toast['error'] == true ? 'bg-danger' : 'bg-success') ?>">
            </div>
            <strong class="mr-auto">Pemberitahuan</strong>
            <small class="text-muted time-passed">Beberapa saat yang lalu</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <?= $toast['feedback']['message']; ?>
        </div>
    </div>
    <?php } ?>
</div>