<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Jumlah Bantuan</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card" data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div
                            class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-bullet-list-67"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Bulan yang lalu</span>
                </p> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Menunggu Persetujuan</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card" data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan_menunggu']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div
                            class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                            <i class="ni ni-books"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Bulan yang lalu</span>
                </p> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Sedang Berjalan</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card" data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan_aktif']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div
                            class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="ni ni-delivery-fast"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Bulan yang lalu</span>
                </p> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Selesai Diberikan</h5>
                        <span class="h2 font-weight-bold mb-0 counter-card" data-count-up-value="<?= ($this->data['info-card']['jumlah_bantuan_selesai']) ?>">0</span>
                    </div>
                    <div class="col-auto">
                        <div
                            class="icon icon-shape bg-gradient-light text-white rounded-circle shadow">
                            <i class="ni ni-paper-diploma"></i>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Sejak tahun ini</span>
                </p> -->
            </div>
        </div>
    </div>
</div>
<div class="row justify-center">
    <div class="col">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Kelola Bantuan</h3>
                    </div>
                    <div class="col">
                        <a href="/admin/bantuan/formulir" class="btn btn-primary float-right">Buat Baru</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">ID</th>
                            <th scope="col" class="sort" data-sort="budget">Nama Bantuan</th>
                            <th scope="col" class="sort" data-sort="jumlah_target">Total Target</th>
                            <th scope="col" class="sort" data-sort="jumlah_target">Total Terrealisasi</th>
                            <th scope="col" class="sort" data-sort="status">Status</th>
                            <th scope="col" class="sort" data-sort="completion">Aktive</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if (!is_null($data['bantuan'])) {
                            foreach($data['bantuan'] as $data_bantuan) { ?>
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="#">
                                        <span class="name mb-0 text-sm"><?= $data_bantuan->id_bantuan; ?></span>
                                    </a>
                                </div>
                            </th>
                            <td>
                                <?= $data_bantuan->nama; ?>
                            </td>
                            <td>
                                <b><?= (is_null($data_bantuan->jumlah_target) ? 'Unlimited' : number_format($data_bantuan->jumlah_target,0,',','.')); ?></b>
                            </td>
                            <td>
                                <div class="progress-wrapper" style="padding-top: 0px;">
                                    <div class="progress-info">
                                        <div class="progress-label">
                                            <span><?= number_format($data_bantuan->jumlah_pelaksanaan,0,',','.') ?></span>
                                        </div>
                                        <div class="progress-percentage">
                                            <span><?= $data_bantuan->persentase_pelaksanaan; ?>%</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                            aria-valuenow="<?= $data_bantuan->persentase_pelaksanaan; ?>"
                                            aria-valuemin="0" aria-valuemax="100"
                                            <?= 'style="width:'. $data_bantuan->persentase_pelaksanaan . '%"'?>></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <?php if(strtolower($data_bantuan->status) == 'd') {
                                    $class = 'badge-primary';
                                    $status = 'Berjalan';
                                } elseif (strtolower($data_bantuan->status) == 's') {
                                    $class = 'badge-success';
                                    $status = "Selesai";
                                } elseif (strtolower($data_bantuan->status) == 'b') {
                                    $class = 'badge-warning'; 
                                    $status = "Menunggu Penilaian";
                                } elseif (strtolower($data_bantuan->status) == 'c') {
                                    $class = 'badge-info'; 
                                    $status = "Penilaian";
                                } else {
                                    $status = "Ditolak";
                                    $class = 'badge-secondary'; 
                                } ?>
                                <span class="badge badge-pill <?= $class; ?>">
                                    <span class="status"><?= $status; ?></span>
                                </span>
                            </td>
                            <td>
                                <span class="badge badge-dot mr-4">
                                    <?php if ($data_bantuan->blokir == 1) {
                                        $class = 'bg-danger'; $status = 'Diblok';
                                    } else {
                                        $class = 'bg-success'; $status = 'Aktif';
                                    } ?>
                                    <i class="<?= $class; ?>"></i>
                                    <span class="status"><?= $status; ?></span>
                                </span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item"
                                            href="/admin/bantuan/data/<?= $data_bantuan->id_bantuan; ?>">Lihat Data</a>
                                        <a class="dropdown-item"
                                            href="/admin/bantuan/formulir/<?= $data_bantuan->id_bantuan; ?>">Ubah Data</a>
                                        <a class="dropdown-item"
                                            href="/admin/bantuan/blok/<?= $data_bantuan->id_bantuan; ?>"><?= ($data_bantuan->blokir == 1) ? 'Unblokir' : 'Blokir' ?></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <?php }} else {
                            Ui::tableIsNull(7,'Bantuan');
                        } ?>
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <?= Ui::pageing($this->data['halaman'], $this->data['record'], 10); ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>