#image-wrapper {
    height: auto;
    max-height: 380px;
    width: 100% !important;
    overflow: hidden;
}

#charLeft {
    bottom: .5em;
    right: 1.15em;
    font-size: .65em;
}

[type="submit"].disabled {
    cursor: not-allowed;
}

textarea {
    min-height: 128px !important;
}

textarea[maxlength]~span.input-char-left,
input[maxlength]~span.input-char-left {
    font-size: 0.5rem;
    position: absolute;
    right: 1.25rem;
    bottom: 1.6rem;
}

.modal textarea[maxlength]~span.input-char-left,
.modal input[maxlength]~span.input-char-left {
    bottom: 1rem;
    transition: bottom .15s ease-in-out;
}

.modal input[maxlength].is-invalid.form-control~span.input-char-left {
    right: 2.05rem;
    transition: right 0s ease-in-out;
}

.modal textarea[maxlength].is-invalid.form-control {
    background-position-y: 1rem;
    background-position-x: calc(100% - 1.5rem);
    padding-right: 1.5rem !important;
}

.modal input[maxlength]:not(:placeholder-shown)~span.input-char-left {
    bottom: 1.5rem;
}

.modal textarea[maxlength]:not(:placeholder-shown)~span.input-char-left {
    bottom: .25rem;
}

input[type="text"]:focus {
    box-shadow: 0 0 0 0.2rem rgb(94 114 228 / 25%) !important;
}

.form-control.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
}

.form-group.error .form-control-label,
.form-group.is-invalid .form-control-label {
    position: relative;
}

.form-label-group.error .form-control-label,
.form-group.error .form-control-label {
    color: var(--danger);
}

.form-group.is-invalid.inputGroup.input-file label>*:first-child,
.form-label-group.is-invalid .form-control-label,
.form-group.is-invalid .form-control-label {
    color: #fb6340;
}

.form-label-group.error .form-control-label::after,
.form-label-group.is-invalid .form-control-label::after,
.form-group.is-invalid .form-control-label::after,
.form-group.error .form-control-label::after {
    content: attr(data-label-after);
    position: absolute;
    top: 0px;
    right: calc(-100% + -.25rem);
    width: 100%;
    display: flex;
    height: 100%;
    text-transform: capitalize;
    white-space: nowrap;
    align-items: center;
}

.form-label-group.error textarea+.form-control-label::after,
.form-label-group.is-invalid textarea+.form-control-label::after {
    width: auto;
}

.form-label-group.error textarea~label.form-control-label,
.form-label-group.is-invalid textarea~label.form-control-label,
.form-group.is-invalid textarea~label.form-control-label,
.form-group.error textarea~label.form-control-label {
    display: flex;
    column-gap: .25rem;
}

.form-label-group.error textarea~.form-control-label::after,
.form-label-group.is-invalid textarea~.form-control-label::after,
.form-group.is-invalid textarea~.form-control-label::after,
.form-group.error textarea~.form-control-label::after {
    position: relative;
    right: auto;
}

/* input-group */
.input-group.focused {
    box-shadow: 0 0 0 0.2rem rgb(94 114 228 / 25%);
    transition: all .15s ease-in-out;
}

.form-group.error.inputGroup.input-file,
.form-group.error .input-group-append>.form-control-label,
.form-group.error .input-group-prepend>.form-control-label,
.form-group.error>.input-group>.input-group-append>span.input-group-text,
.form-group.error>.input-group>.input-group-prepend>span.input-group-text {
    border-color: var(--danger);
}

.form-group.is-invalid.inputGroup.input-file,
.form-label-group.input-group.is-invalid span.input-group-text,
.form-group.is-invalid .input-group-append>.form-control-label,
.form-group.is-invalid .input-group-prepend>.form-control-label,
.form-group.is-invalid>.input-group>.input-group-append>span.input-group-text,
.form-group.is-invalid>.input-group>.input-group-prepend>span.input-group-text {
    border-color: #fb6340;
}

.form-group.error.inputGroup.input-file,
.form-group.is-invalid.inputGroup.input-file,
.form-group.error>.input-group>.input-group-prepend>span.input-group-text,
.form-group.error>.input-group>.input-group-append>span.input-group-text,
.form-group.is-invalid>.input-group>.input-group-prepend>span.input-group-text,
.form-group.is-invalid>.input-group>.input-group-append>span.input-group-text {
    transition: border-color 0s ease;
}

.form-group.error .input-group-prepend>.form-control-label,
.form-group.error .input-group-append>.form-control-label,
.form-group.is-invalid .input-group-prepend>.form-control-label,
.form-group.is-invalid .input-group-append>.form-control-label {
    flex-direction: column;
    transition: border-color 0s ease;
}

/* .form-group.error > .input-group > .input-group-append i,
.form-group.error > .input-group > .input-group-prepend i {
    color: var(--danger);
}

.form-group.is-invalid > .input-group > .input-group-append i,
.form-group.is-invalid > .input-group > .input-group-prepend i {
    color: #fb6340;
} */

.form-group.error .input-group-prepend>.form-control-label::after,
.form-group.error .input-group-append>.form-control-label::after,
.form-group.is-invalid .input-group-prepend>.form-control-label::after,
.form-group.is-invalid .input-group-append>.form-control-label::after {
    flex-direction: column;
    right: auto;
    height: auto;
    width: auto;
    position: static;
    text-transform: lowercase;
}

.custom-control.custom-checkbox label {
    line-height: 1.9;
    font-size: .825rem !important;
    font-weight: 600 !important;
}

.custom-control.custom-checkbox input:checked+label {
    margin-bottom: 0.945rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
}

.custom-checkbox.d-flex .custom-control-label {
    width: 100%;
    margin-bottom: 0.945rem;
}

.custom-checkbox.d-flex .custom-control-label::before,
.custom-checkbox.d-flex .custom-control-label::after {
    left: auto;
    right: 0;
}

.custom-switch .custom-control-label {
    cursor: pointer;
}

.custom-switch .custom-control-label::before {
    left: -2.25rem !important;
}

.custom-switch .custom-control-label::after {
    left: calc(-2.25rem + 2px) !important;
}

/* Select2 */
select~span.select2 * {
    font-size: .875rem;
}

select.custom-select~.select2 .select2-selection__arrow {
    display: flex;
    height: 50%;
    width: 40px;
    top: 4px;
    right: 7px;
}

select.custom-select~.select2>.selection>.select2-selection {
    padding-top: 5px;
    height: 60px;
}

select.custom-select.is-invalid~.select2::after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    position: absolute;
    right: calc(1rem + 4px);
    top: calc(50% + 2px);
    content: '';
    width: calc(0.75em + 0.375rem);
    height: calc(0.75em + 0.375rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

span.selection {
    width: 100%;
}

.select2-container .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-search--dropdown .select2-search__field {
    padding-top: 8px;
    padding-bottom: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #b5c1d2;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-color: #dee2e6 !important;
    border-radius: 0.25rem !important;
    height: 100%;
    outline-width: 0px;
}

.form-group.error select:not(multiple)~.select2-container label[data-label-after]::after,
.form-group.is-invalid select:not(multiple)~.select2-container label[data-label-after]::after {
    height: auto;
}

/* multiple ini belum di tes stylenya */
.form-group.error select~.select2-container--default .select2-selection--multiple,
.form-group.error select~.select2-container--default .select2-selection--single {
    border-color: var(--danger) !important;
}

.form-group.is-invalid select~.select2-container--default .select2-selection--multiple,
.form-group.is-invalid select~.select2-container--default .select2-selection--single {
    border-color: #fb6340 !important;
}

select[disabled]~.select2-container--default .select2-selection--multiple,
select[disabled]~.select2-container--default .select2-selection--single {
    border-color: var(--lighter) !important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple,
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: var(--lighter);
}

.select2-container--default .select2-selection--multiple:focus-visible,
.select2-container--default .select2-selection--single:focus-visible {
    border: 1px solid #5e72e4 !important;
}

.select2-container--default .select2-selection--multiple[aria-expanded="true"],
.select2-container--default .select2-selection--single[aria-expanded="true"] {
    border-color: #5e72e4 !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #dee2e6;
    /* display: none; */
}

.select2-selection__rendered {
    padding-top: 1.625rem;
    padding-bottom: 0.125rem;
    padding-left: 0em !important;
    padding-right: 1rem;
    color: #8898aa !important;
}

.select2-container--open .select2-dropdown {
    border-color: #5e72e4;
    padding: 0px;
    left: 0px;
}

.select2-search.select2-search--dropdown {
    padding: 6px;
}

.select2-container--open .select2-dropdown.error {
    border-color: var(--danger) !important;
}

.select2-container--open .select2-dropdown.is-invalid {
    border-color: #fb6340 !important;
}

.select2-dropdown.select2-dropdown--below {
    top: -6px !important;
    padding-bottom: 1px;
    box-shadow: 0 3px 9px rgb(50 50 9 / 0%), 3px 4px 8px rgb(94 114 228 / 10%);
}

.select2-dropdown.select2-dropdown--above {
    display: flex;
    flex-direction: column-reverse;
    top: 6px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #dee2e6;
}

.select2-dropdown.select2-dropdown--below {
    border-bottom-left-radius: 0.275rem;
    border-bottom-right-radius: 0.275rem;
}

.select2-dropdown.select2-dropdown--above {
    border-top-left-radius: 0.275rem;
    border-top-right-radius: 0.275rem;
}

.select2-results {
    position: relative;
    overflow: hidden;
}

.select2-dropdown.select2-dropdown--below .select2-results {
    border-bottom-left-radius: 0.225rem;
    border-bottom-right-radius: 0.225rem;
    bottom: -1px;
    border-top: 1px dashed #5e72e4;
}

.select2-dropdown.select2-dropdown--above .select2-results {
    border-top-left-radius: 0.225rem;
    border-top-right-radius: 0.225rem;
    border-bottom: 1px dashed #5e72e4;
}

.select2-dropdown.error .select2-results {
    border-color: var(--danger);
}

.select2-dropdown.is-invalid .select2-results {
    border-color: #fb6340;
}

.select2-results .select2-results__option--highlighted {
    background-color: var(--primary) !important;
    color: #fff !important;
}

.select2-results .select2-results__option--highlighted * {
    color: #fff;
}

.select2-results .select2-results__option--highlighted .badge-primary {
    color: var(--primary);
}

.select2-results ul {
    background-color: var(--primary);
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    display: flex !important;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.4rem !important;
    padding-left: 1.4rem !important;
}

.error .select2-container .select2-selection--multiple,
.is-invalid .select2-container .select2-selection--multiple,
.error .select2-container .select2-selection--single,
.is-invalid .select2-container .select2-selection--single {
    transition-duration: 0s;
}

.select2-container:not(.select2-container--open) .select2-selection--multiple:focus,
.select2-container:not(.select2-container--open) .select2-selection--single:focus {
    box-shadow: none !important;
}

span+select~.select2.select2-container .select2-selection.select2-selection--multiple {
    padding-top: 1.325em !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 0px;
    margin: 0px !important;
    display: flex !important;
    align-items: center;
    gap: .5em !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--lighter) !important;
    border-color: var(--lighter) !important;
    padding-left: 25px !important;
    margin-top: 5px !important;
    margin-left: 0px !important;
    display: inline-flex;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:last-of-type {
    margin-right: 1em;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin: 0px !important;
    padding: 0px .5rem;
    border-right-color: var(--light);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding: 0px .75rem;
}

.select2-container .select2-selection--multiple .select2-search--inline {
    display: block;
    width: 100%;
}

.select2-container .select2-selection--multiple .select2-search--inline textarea[placeholder] {
    padding: 8px 0px;
    min-height: 34px !important;
    margin: 0px;
    width: 100% !important;
    font-family: "Nunito";
}

.select2-container .select2-selection--multiple .select2-search--inline textarea[placeholder]::placeholder {
    font-family: "Nunito";
    font-weight: bolder;
    font-size: 0.875rem;
    width: auto;
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    opacity: .5;
}

span+select.custom-select[multiple]~.select2-container--default .selection:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 1.1em;
    margin-left: -4px;
    margin-top: -2px;
    top: 25%;
    width: 0;
    cursor: pointer;
    z-index: 1;
}

span+select.custom-select[multiple]~.select2-container--open .selection:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
    height: 0;
    right: 1.1em;
    margin-left: -4px;
    margin-top: -2px;
    top: 25%;
    width: 0;
    cursor: pointer;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: white !important;
}

.select2-results__options::-webkit-scrollbar-thumb:hover {
    background-color: #f4f4f4c3 !important;
}