/* Carousel */
.carousel-indicators [data-bs-target] {
    background-color: var(--orange);
    height: .5rem;
    border-radius: 1rem;
    border: 1px solid var(--orange)
}

.carousel-control-next,
.carousel-control-prev {
    width: auto;
}

/* .carousel-control-next,
.carousel-control-prev {
    opacity: 1;
} */

/* Header */
.header .navbar-brand img {
    width: 90px;
}

.button .signin {
    color: var(--green);
}

/* End Header */

/* Hero Area */
.hero-area {
    padding: 120px 0px;
    overflow-x: clip;
}

.hero-area #carousel {
    z-index: 1;
}

.hero-area #carousel>.carousel-indicators>[data-bs-target]:not([aria-current="true"]) {
    background-color: var(--green);
    border: 1px solid var(--green);
    width: 1rem;
}

.hero-area #carousel>.carousel-inner {
    overflow: visible;
}

.hero-area #carousel .hero-content a {
    z-index: 1;
}

.app-image>.bg-image::before,
.app-image>.bg-image::after {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 20px;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.app-image>.bg-image::before {
    top: 0;
    left: 0;
}

.app-image>.bg-image::after {
    bottom: 0;
    right: 0;
}

.app-image>.bg-image:hover::before {
    top: -20px;
    left: -20px;
    background: var(--orange);
}

.app-image>.bg-image:hover::after {
    bottom: -20px;
    right: -20px;
    background: var(--green);
}

.hero-area .main__circle2.left {
    right: auto;
    left: calc(50% - 270px);
}

.mr {
    margin-right: 0.5rem;
}

.app-image>[class*="col"],
.app-image>[class*="col"] .row,
.app-image>[class*="col"]>.col-wrapper,
.app-image>[class*="col"] [class*="col"],
.app-image>[class*="col"] [class*="col"]>.box {
    border-radius: inherit;
}

.app-image>[class*="col"]>.col-wrapper {
    height: 100%;
    width: 100%;
}

.app-image>[class*="col"] .col-wrapper [class*="col"]:not(.collapse):first-child {
    padding-left: 1em !important;
}

.app-image>[class*="col"] .col-wrapper>.row.top>[class*="col"]:last-child {
    padding-right: 1em !important;
}

.app-image>[class*="col"] .col-wrapper .pr-3 {
    padding-right: 1em !important;
}

.app-image>[class*="col"] .col-wrapper>.row.bottom.flex-md-column>[class*="col"] {
    padding-left: 1.25em !important;
    padding-right: 0px !important;
}

.app-image>[class*="col"] .col-wrapper>.row.bottom.flex-md-column [class*="col"] {
    padding-right: 0px !important;
}

.app-image>[class*="col"].bg-image .col-wrapper .box.bg-light {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.app-image>[class*="col"].bg-image:hover .col-wrapper .box.bg-light {
    opacity: .9;
}


/* Panel */
.panel {
    z-index: 2;
    position: relative;
    margin-top: -5em !important;
    margin-bottom: 2.25em;
    padding-bottom: 1em;
}

.panel>.container>.row {
    border-style: solid;
}

.panel>.container>.row>.col {
    border-color: inherit;
    border-style: dashed;
    border-width: 0px;
}

.panel>.container>.row>.col:not(:last-child) {
    border-right-width: inherit;
}

.panel a {
    font-size: smaller;
}

.panel i {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.panel span.text-green:hover {
    color: var(--orange);
}

.panel span.text-orange:hover {
    color: var(--green);
}

.panel span:hover~.display-6 {
    color: var(--bs-blue);
}

/* Kotak Bantuan */
.single-service>.app-image.img-wrapper.rounded-box {
    height: 200px;
    margin: -35px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.app-image.img-wrapper+.row {
    position: relative;
}

/* Akhir Kotak Bantuan */

.single-service .title {
    height: 2.3em;
}

.single-service .progress {
    height: 5px;
}

.single-service .badge.bg-light {
    color: var(--green);
}

@media (min-width: 1200px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: calc((100% - 1140px)/2);
    }
}

@media (min-width: 1400px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: calc((100% - 1320px)/2);
    }

    .carousel-control-next {
        justify-content: start;
    }

    .carousel-control-prev {
        justify-content: end;
    }
}

@media (max-width: 1199px) and (min-width: 1025px) {
    .hero-content h1 {
        font-size: 1.65rem !important;
        line-height: 1.5 !important;
    }

    .mr {
        margin-right: 0.3rem;
    }

    :root {
        --img-box: 35%;
    }

    .hero-row>div:not(.img-box) {
        width: var(--img-box);
    }

    .hero-row>div.img-box {
        width: calc(100% - var(--img-box));
    }
}

@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 1.25rem !important;
        line-height: 1.15 !important;
    }

    .mr {
        margin-right: 0.25rem;
    }
}

@media (max-width: 992px) {
    .carousel-indicators {
        top: 362px;
    }

    .hero-area {
        padding: 40px 0px;
    }

    .hero-area .hero-content {
        text-align: left;
    }

    .hero-content h1 {
        margin-bottom: 0px !important;
    }

    .panel {
        margin-top: -40px !important;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .carousel>.carousel-indicators {
        bottom: -2.5em;
    }

    .carousel-indicators [data-bs-target] {
        background-color: var(--orange);
    }
}

@media (min-width: 768px) {
    #collapse {
        display: flex !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .header .button .signup {
        background-color: #97D700;
        color: #fff;
    }

    .hero-area .hero-content .button {
        width: auto;
    }

    .hero-area .hero-content h1 {
        font-size: 20px;
        line-height: 1.25;
    }

    /* .hero-area .hero-content h1 span.color2 {
        max-height: 76px;
        height: 76px;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } */
}

@media (max-width: 767px) {

    /* .hero-area .hero-content h1 span.color2 {
        max-height: 64px;
        height: 64px;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    } */

    .hero-area .hero-content>p {
        display: none;
        /* height: 60px;
        width: 100%;
        max-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre; */
    }

    .header .navbar-brand img {
        width: 80px;
    }

    .carousel-indicators {
        top: 280px;
    }

    .app-image>.bg-image {
        height: 225px;
        background-size: cover !important;
        margin-top: 50px;
    }

    .col-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
    }

    .app-image>[class*="col"]>.col-wrapper {
        height: auto !important;
    }

    .app-image>[class*="col"] .col-wrapper .pr-3 {
        padding: 0px !important;
    }

    .app-image>[class*="col"] .col-wrapper>.row.top>[class*="col"]:last-child {
        padding-right: 0em !important;
    }

    .app-image>[class*="col"] .col-wrapper>.row.bottom.flex-md-column>[class*="col"] {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .app-image>[class*="col"] .col-wrapper [class*="col"]:not(.collapse):first-child {
        padding-left: 0em !important;
    }

    .app-image>[class*="col"] .col-wrapper [class*="col"]:last-child {
        padding-right: 0em !important;
    }

    .hero-content h1 {
        font-size: 1rem !important;
        line-height: 1.5 !important;
    }

    .app-image>[class*="col"] .col-wrapper>.row.bottom.flex-md-column>[class*="col"].detil>.box {
        height: 100%;
    }

    .app-image>[class*="col"] .col-wrapper>.row.bottom.flex-md-column>[class*="col"].detil>.box .collapseButton {
        bottom: 1em;
        width: calc(100% - 2em) !important;
        font-size: .8rem;
        font-weight: 300;
    }

    .app-image>[class*="col"] .col-wrapper * {
        font-size: 0.7rem !important;
    }

    .panel {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        z-index: 6;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .panel .display-6 {
        font-size: xx-small !important;
    }

    .panel>.container {
        padding: 0px;
    }

    .panel>.container>.row {
        border-radius: 0px;
    }

    .footer {
        padding-bottom: 120px;
    }

    .panel~.scroll-top {
        bottom: 80px;
    }
}